[2012-05-13 18:52] zemirco opened #1 "Second test fails"

[2012-05-23 22:05] #1 closed, assigned to nobody

[2012-06-28 15:26] benbuckman opened #2 "Doesn't handle quotation marks ("") correctly"
The CSV format (as implemented by Excel and Google Docs) uses double quotation marks to escape single quotation marks, i.e. `a "special" string` becomes `"a ""special"" string"`. This module is using `JSON.stringify` which escapes quotation marks with `\"`, which breaks lines with quotation marks.
The fix is simple, I'll have a pull request in a moment.

[2012-10-07 08:53] #2 closed, assigned to nobody

[2012-11-28 10:54] skyrise opened #5 "Version Code is malformated"
You should declare the `version` in your package.json according to http://semver.org/ .
This would mean: `1.0.1` instead of `*v*1.0.1`

[2012-11-28 18:44] #5 closed, assigned to nobody

[2012-11-30 03:04] sjoonk opened #6 "Where is the cli?"
I'm sorry for this silly question. I'm a newbee in Node/npm world.

I just installed json2csv as follows:

  $  npm install json2csv
  npm http GET https://registry.npmjs.org/json2csv
  npm http 304 https://registry.npmjs.org/json2csv
  json2csv@v0.0.5 ./node_modules/json2csv

But I can't fire json2csv on command line:

  $ json2csv
  -bash: json2csv: command not found

Where can I find this comma

[2012-11-30 05:44] #6 closed, assigned to nobody

[2013-02-18 14:07] zemirco opened #10 "example 3 in readme.md wrong"
add "price" to `fields` paramter

[2013-02-19 15:35] zemirco opened #11 "return error in callback"
use node style and pass `error` object as first parameter of callback function instead of throwing it.

[code]

[2013-02-20 20:23] #10 closed, assigned to nobody

[2013-02-20 20:39] zemirco opened #12 "comment lib file"
put some comments into [bin/json2csv](https://github.com/zeMirco/json2csv/blob/master/bin/json2csv.js)

[2013-03-04 20:13] #11 closed, assigned to nobody

[2013-03-19 08:56] zemirco opened #13 "mark todo done"
[todo](https://github.com/zeMirco/json2csv#todo)

and add link to my newest project [json2csv-stream](https://github.com/zeMirco/json2csv-stream)

[2013-03-20 17:07] #13 closed, assigned to nobody

[2013-04-23 12:40] fizerkhan opened #14 "Option for null to """
The value 'null' seems to be irrelevant in CSV. It will be nicer if you can automatically convert to  empty string "" in CSV file.

It could be even better and generic if it is customizable to any string or any number.

[2013-04-25 09:17] zemirco opened #17 "provide the field list with a default value"
by @selevanm

Is there a way to provide the field list with a default value if the field doesn't exist in all cases in the JSON? I wrote a flatten function to bubble nested objects up to the surface of my JSON, then add the index of the array of the object as part of the keyname. In some cases I will have more than one object in the array, so instead of having json2csv report and error if I provid

[2013-04-25 13:42] fizerkhan opened #18 "Map reduce function for custom fields"
We are getting information from database(MongoDB) and passes to json2csv.  Some field in our database uses number(1, 2, 3....) to represent states like ( Active, Inactive, closed). It could be very nice if we have some map reduce function on certain fields.

Instead of writing number to CSV file, you have to write a value returned by that function.

[2013-04-25 13:58] #18 closed, assigned to nobody

[2013-04-28 05:57] bgausden opened #19 "Autodetect [{Object}] vs {Object}"
The output of some REST APIs is of the form {Object}. json2csv expects [{Object}].

It'd be an added convenience if json2csv automatically handled both forms.

[2013-04-28 14:20] bgausden opened #20 "Handle Nested Objects"
[code]

Ideally you'd want to be able to support the following usage of json2csv:

[code]

i.e. be able to request values from nested objects

[2013-05-28 21:32] pathikrit opened #21 "Incorrect escaping"
For following json:

[
  {
    "item_id": "55370784",
    "resolved_id": "0",
    "given_url": "http://www.michaeljohngrist.com/ruins-gallery/%5C",
    "given_title": "Nothing found for Ruins-gallery \",
    "favorite": "0",
    "status": "1",
    "time_added": "1289675792",
    "time_updated": "1295238149",
    "time_read": "1295238149",
    "time_favorited": "0",
    "sort_id": 1536
  }
]

The o

[2013-06-11 19:22] #21 closed, assigned to nobody

[2013-06-11 19:38] #17 closed, assigned to nobody

[2013-07-01 15:05] fizerkhan opened #22 "support for no value in the field"
I like to generate the csv with some fields with no value like

[code]

In above CSV, i dont have values for age, and gender. With current json2csv, i can only put double quotes for empty value. But i dont want to put even the double quote. It should be plain empty.

[2013-10-23 17:09] zemirco opened #26 "Looking for maintainers!"
Hey everybody,

you might have guessed it from the time that has passed since my latest update on this repo. At the moment I don't have the time (or other things on my list that have higher priorities) to maintain json2csv.

I started this project during my master thesis. Since then I never needed the module again but tried to keep it up-to-date. That didn't really work out in the last months and

[2013-11-08 13:11] #22 closed, assigned to nobody

[2013-11-08 13:12] #19 closed, assigned to nobody

[2013-11-10 09:19] #26 closed, assigned to nobody

[2014-01-13 02:24] airclear opened #29 "each line is a json string , does it support ?"
I have a big file ,  each line is a json string , and I want to convert it to csv file ,  can this util  support ?

[2014-04-24 12:51] txdv opened #32 "fields"
Is it possible to just use all fields present? Or at least all fields present in the first object entry?

[2014-05-19 23:06] Kentoseth opened #33 "CLI: "json2csv: command not found""
I created a folder: /json_csv

In this folder I ran the npm command and got the right output with no errors.

I now place my json file (called file.json) into the /json_csv folder and run the command:

[code]

The output I get is:

[code]

Anybody know why it isn't working? Am I testing the CLI in the wrong folder?

I've tried going a folder or 2 deeper into the package, but it still doesn't work.

[2014-05-22 21:31] #33 closed, assigned to nobody

[2014-05-30 17:45] richardklafter opened #34 "Command line only accepts files with .json extension"
Because of how you open the file (using require) the command line can't read the file unless it has a json extension. The command `json2csv -i log -f sync,timebase -p` will not work.

Line is the culprit
`input = require(path.join(process.cwd(), program.input));`

FYI I am using node v0.8.20. This behavior might be different in newer node versions.

[2014-08-18 18:42] #12 closed, assigned to nobody

[2014-08-18 18:43] #20 closed, assigned to nobody

[2014-08-18 18:43] #29 closed, assigned to nobody

[2014-08-18 18:43] #34 closed, assigned to nobody

[2014-08-26 16:20] Broham opened #38 "Possible to get an empty cell instead of the text "undefined"?"
If I pass in the following data for header:

[code]

and the following for data:

[code]

It generates a CSV like the following:

[code]

Notice the last cell of the last row contains `undefined` since there wasn't a value provided for that record.  Is there any way to get the output to replace `undefined` with an blank cell using the built in functionality?

[2014-08-28 21:26] #38 closed, assigned to nobody

[2014-09-17 13:30] japgardatablocks opened #39 "params.data = JSON.parse(JSON.stringify(params.data));"
line 48 in json2csv.js

[code]

Seems terribly inefficient to me, especially with large datasets.

[2014-10-07 17:56] arubygit opened #40 "Data without header information"
Hi, How can I only print out the data without the header information.?

Thanks

[2014-11-25 22:15] facundofarias opened #41 "Is it possible to create a CSV file that contains all the attributes?"
Like, instead of listing the fields, by putting an asterisk or something like that.
For example:

[code]

[2015-03-01 12:14] ole-tange opened #45 "-p fails if data contains ,"
Example:

echo '[{"title":"a,b"}]' | json2csv -p -f title

[2015-03-05 18:42] knownasilya commented on #26
@zemirco I'd be glad to take over this repo. It seems like the most popular json to csv module and it's sad that it's marked as deprecated. I'd be more then happy to take over.

[2015-04-21 13:20] mansona commented on #26
So has this Repo been taken over? If it has then we should probably remove the depreciation warning on the Readme, i could submit a PR? :wink:

[2015-04-21 13:23] knownasilya commented on #26
@mansona haven't heard from @zemirco

[2015-05-04 17:59] newmanw commented on #26
+1, is this still deprecated?

[2015-05-04 18:01] newmanw opened #47 "Support for nested values in json"
[code]

Current implementation does not support nested fields:

[code]

[2015-05-04 18:56] zemirco commented on #26
Sorry I didn't get any updates from this issue as it was closed. Thanks @knownasilya for taking over. I'll give you all the necessary rights.

[2015-05-04 19:11] zemirco commented on #26
[code]

[2015-05-04 19:14] knownasilya commented on #26
Nice!

[2015-05-04 19:33] knownasilya commented on #47
@newmanw feel free to tackle a PR (with tests preferably).

I think this might be a tricky feature, might be easier to convert your JSON with some other tool, and then pass it to `json2csv`.

[2015-05-04 19:34] knownasilya commented on #40
@arubygit did @slimael's reply answer your question?

[2015-05-04 19:35] knownasilya commented on #41
Not at the moment, but it sounds useful!

[2015-05-04 19:59] #45 closed

[2015-05-04 23:17] #40 closed

[2015-05-18 17:04] mattpolicastro commented on #41
Bump for this feature—if the JSON array is coming from a reliable/consistent source, it'd be nice to just assume all fields should be used. Maybe if `fields`  isn't specified?

[2015-05-18 17:27] knownasilya commented on #41
@mattpolicastro good idea

[2015-05-18 18:29] knownasilya opened #49 "Coveralls"
@zemirco could you add this repo project to https://coveralls.io/repos/new? Thanks!

[2015-05-18 19:03] zemirco commented on #49
done - https://coveralls.io/r/zemirco/json2csv

Do I have to do anything else?

[2015-05-27 15:42] KoltonG commented on #32
Did this ever go in the build, I was wondering if you can have the results without the field names

[2015-05-27 15:49] knownasilya commented on #32
@KoltonG @kingcody will totally take a PR.

[2015-05-27 15:49] #49 closed

[2015-06-04 16:39] shivasurya commented on #32
Hello Developers,
this module is awesome
how can i append data to my csv file second time without fields(it causes troubles while appending to file)?
any ideas..pls share it

[2015-06-04 18:04] knownasilya commented on #32
@shivasurya what trouble does it cause? What does your csv look like and what are you trying to add?

[2015-06-04 18:12] shivasurya commented on #32
first attempt :
i have added fields and tried to append the data to csv but it is overlapping with the previous data cell and with the field name,
so second time i made [] (null) paramater for fields -> nothing data appended in csv file.
i removed the parameter of fields and just applying with the append,
once again node.js error > expecting fields.

However Pls share any samples for writing/appen

[2015-06-04 20:28] knownasilya commented on #32
Which commands did you use?

[2015-06-04 21:02] knownasilya commented on #32
@shivasurya

I just published a new version, and this is how you'd do it:

[code]

[2015-06-10 10:16] edravis opened #51 "Remove quotes"
Is there a way to remove the quotes mark of the output?

e.g.:

Instead of
[code]

Do

[code]

[2015-06-10 12:30] knownasilya commented on #51
No, consider this a feature request :+1:

[2015-06-10 12:45] edravis commented on #51
I can help with that. If needed let me know. I cannot  see any kind of `contribute.md` so I'd like to talk with you before ;)

Keep in touch

[2015-06-10 13:18] knownasilya commented on #51
@edravis feel free to get your feet wet. Small PRs are recommended, just make sure to write a test and that it passes travis. I'll give you feedback once you submit your code.

Contribute.md is coming soon.

[2015-06-19 18:17] ahuntcirruspath commented on #39
Hey @knownasilya and a belated: "Welcome to the party!". Can this issue be re-opened? I've just run into this issue with a large dataset. :(

[2015-06-19 18:31] ahuntcirruspath commented on #39
I'd call it a bug, however. When the dataset exceeds a large size json2csv fails due to the use of JSON.stringify when checking the params. :)

[2015-06-19 18:32] knownasilya commented on #39
What error do you get?

[2015-06-19 18:34] ahuntcirruspath commented on #39
A RangeError "Invalid string length".

[2015-06-19 18:35] knownasilya commented on #39
Hum, probably just remove that conversion and wait for it to fail elsewhere.

[2015-06-19 18:36] ahuntcirruspath commented on #39
What is that conversion checking for other than params.data being a valid object?

[2015-06-19 18:42] knownasilya commented on #39
@ahuntcirruspath v2.4.2 should resolve this.

[2015-06-19 18:42] #39 closed

[2015-06-19 18:50] ahuntcirruspath commented on #39
Thanks!

I'd hate to be a bother but I believe the custom typeOf function may suffer the same problem. In referencing this case (http://www-01.ibm.com/support/docview.wss?uid=swg21693987) the issue is when toString() and JSON.stringify() is used on large datasets. In the module, toString() is used in the typeOf function immediately after the check params.data logic using JSON.stringify().

Any rea

[2015-06-19 19:35] knownasilya commented on #39
Nice catch..

[2015-06-19 19:38] knownasilya commented on #39
Published another patch. Keep em coming!

[2015-06-21 01:11] knownasilya commented on #51
@edravis ping

[2015-06-24 08:11] shatle opened #52 "Is there any way to recover json with fields from csv ?"

[2015-06-24 12:20] knownasilya commented on #52
Can you elaborate? Thanks.

[2015-06-26 15:52] beinnova opened #53 "Select delimiter"
Hi,
It's possible to use ";" instead of ","?

[2015-06-26 16:27] knownasilya commented on #53
You can use `-d ;` or `--delimeter ;` with the cli. See https://github.com/zemirco/json2csv#command-line-interface or use `json2csv -h` to see all available options.

[2015-06-26 16:31] knownasilya commented on #51
@edravis will you be submitting a PR, or should I just tackle it?

[2015-06-26 16:31] beinnova commented on #53
I use your module in my app. Now i have resolved with .replace(/,/g, ';'); after the "csv" string is created.

[2015-06-26 16:31] #53 closed

[2015-06-26 17:46] knownasilya commented on #53
@beinnova are you using it as a module? You can do `json2csv({ del: ';' })`.

[2015-06-26 18:57] beinnova commented on #53
Thanks, I will! :simile:

[2015-06-27 14:57] shatle commented on #52
Example:

[code]

then , it will gen `file.csv`:

[code]

can i recover `myData` format from `file.csv`?

Like maybe:

[code]

[2015-06-27 18:50] knownasilya commented on #52
You could use a third party tool, like lodash to help with something like that, but no this library doesn't handle that since it's outside of it's scope.

Something along these lines.. I'm sure it could be more performant.

[code]

[2015-06-27 18:51] knownasilya commented on #52
Closing, since it's outside of this libraries scope. Feel free to ask more questions or open other issues if needed.

[2015-06-27 18:51] #52 closed

[2015-07-11 18:55] nevi-me commented on #51
That'll be great, I'm creating CSVs from MongoDB and inserting them into SQL Server via bulk upload. It's a bit difficult to remove quotes as SQL server stores the text with quotes (unless I use the data import tool)

[2015-07-15 11:20] ruquay commented on #47
I've just created PR with tests for this. Referencing a nested field would be via "." delimiter. Would break any references to properties that actually have a dot in the name, such as obj["bad.name"].

[2015-07-15 19:01] #51 closed

[2015-07-15 19:05] knownasilya opened #56 "Add quotes to cli"
Changing the default quote value from `"` to something else is supported, but not currently in the CLI.

[2015-07-16 02:05] #56 closed

[2015-07-16 12:56] #47 closed

[2015-07-16 13:45] knownasilya opened #57 "CLI Tests"
Currently there are no tests for the CLI part. Also need to make the loading of the fixtures a little less repetitive. Maybe also moved to own module.

[2015-07-16 17:40] #41 closed

[2015-07-16 17:41] knownasilya commented on #41
Released as v2.8.0

[2015-07-16 20:40] knownasilya commented on #32
v2.8.0 supports auto fields, just don't specify them and it will use the top level fields.

[2015-07-16 20:40] #32 closed

[2015-07-16 21:17] mattpolicastro commented on #41
Super, thanks!

[2015-07-17 09:15] facundofarias commented on #41
Thanks! :+1:

[2015-07-23 14:31] tomzan opened #58 "Regression 2.8.1"
Latest version turning numeric value `0` to nothing.
doesn't recreate at version 2.4.1

[2015-07-23 14:43] knownasilya commented on #58
Thanks for the report!

[2015-07-23 16:16] #58 closed

[2015-07-23 17:38] knownasilya commented on #58
Released as 2.8.2

[2015-08-22 08:30] DenisGorbachev opened #61 "Accept absolute paths"
[code]

Would be great if absolute paths were supported. Good job otherwise!

[2015-08-22 14:04] knownasilya commented on #61
Yeah, it should work.

Note to self: us this https://www.npmjs.com/package/path-is-absolute

[2015-08-24 08:32] Pikoulol opened #62 "Add bower support"
Hi,

Please, could you add bower support ?
(http://bower.io/docs/creating-packages/#register)

Thank you :)

[2015-08-24 12:19] knownasilya commented on #62
You will be using it as a commonjs module from bower? How do you expect to be using it from bower?

[2015-08-24 12:25] Pikoulol commented on #62
I found another tool : http://papaparse.com/ with bower support
It's what I was looking for.

I expected to use your tool via a bower dependency and include it in my project as a javascript file.

[2015-08-24 12:28] #61 closed

[2015-08-24 12:31] knownasilya commented on #61
Released as 2.10.0

[2015-08-24 12:31] knownasilya commented on #62
Are you still interested in this request, or are you all set with that other tool?

[2015-08-24 12:38] knownasilya opened #63 "Write absolute path tests"
Write test for absolute path using `path.resolve(..)`.

[2015-08-24 12:41] Pikoulol commented on #62
I think, i'm pretty all set with papaparse :+1:

Thanks again for your responsiveness

[2015-08-24 12:47] knownasilya commented on #62
Closing, until someone else needs this feature.

[2015-08-24 12:47] #62 closed

[2015-08-24 13:31] DenisGorbachev commented on #61
Thanks!

On Mon, Aug 24, 2015 at 3:31 PM Ilya Radchenko <notifications@github.com>
wrote:

[2015-09-04 11:11] abhinav76 opened #69 "is it possible to insert sum of one of the column in the last line?"
for example, I have fields like name address amount of various users. And at the end of the file I want it show the total amount

[2015-09-04 12:55] knownasilya commented on #69
Process it in the JSON, and add another field, then convert to csv.

[2015-09-16 13:33] knownasilya commented on #69
Did that help you @abhinav76?

[2015-09-18 05:32] abhinav76 commented on #69
Sorry, I was busy with some other thing. Didn't get time to try that out. But what I can think of this at the moment is that it won't be possible for me to add another field in json.

[2015-09-18 07:36] lukasruczkowski opened #71 "Default values"
It would be nice if also "null" or "[]" values could be set up to default value. Not only "undefined" values.

[2015-09-18 13:01] knownasilya commented on #69
I mean doing it programmatically, without overwriting whatever your source is.

[2015-09-19 15:55] knownasilya commented on #71
Feel free to submit a PR :+1:

[2015-09-21 13:56] lukasruczkowski commented on #71
OK. From my point of view there are two ways how can I do this.

The first one is to use existing "defaultValue" option and set default value for all - "undefined", null or empty array/object.

The second one - create a new options (e.g. - notNull and notEmpty). And if notNull or notEmpty values will be set to TRUE the default value will be use for all null or empty array/object values.

This libr

[2015-09-22 23:33] #69 closed

[2015-09-22 23:33] knownasilya commented on #69
Feel free to keep posting, and I can help if you show what you've tried so far.

[2015-10-01 23:32] azhang opened #72 "Escaping still doesn't work"
json2csv({data: [
      {
        a:'asdf"asdf'
      },
      {
        a: 'asdf'
      }
    ]}, function(err, x) {
      console.log(x)
    })

[code]

according to http://tools.ietf.org/html/rfc4180,

[2015-10-02 12:37] knownasilya commented on #72
How so? It should be `"asdf""asdf"`

       appearing inside a field must be escaped by preceding it with
       another double quote.  For example:

       "aaa","b""bb","ccc"

[2015-10-02 22:05] aaronz8 commented on #72
Oh whoops, after rereading a couple times I finally got it. You are right. :)

I have another question about escaping, when it comes to embedded json. Currently it might output something like

    {1: "notjson", 2: "notjsoneither", 3: {a:'a', b:'b'}} =>
    1,2,3
    "notjson","notjsoneither",{"a":"a","b":"b"}

which causes csv parsers to split up the json into several columns:

     1

[2015-10-02 22:53] knownasilya commented on #72
I don't think we currently support embedded JSON, but it's a good idea. I'd take a PR if you wish to have a go at it. Feel free to start it early and I can give you pointers as you go.

[2015-10-05 14:17] knownasilya opened #75 "Add promise support"
Might be worthwhile, but users can always do

[code]

[2015-10-07 22:04] azhang opened #78 "feature request: consolidate fields+fieldName options into a transform Object[]"
For example:

[code]

[2015-10-08 13:30] #72 closed

[2015-10-09 19:39] #78 closed

[2015-10-09 21:56] christianhaller commented on #75
+1

[2015-10-20 19:20] pdiniz13 opened #80 "New version is not on NPM"
The new version with the new field properties doesn't seem to be the same one that's on NPM

[2015-10-20 19:32] knownasilya commented on #80
Not yet, I'm looking to find the time to clean everything up and release v3, probably this weekend. Feel free to use it directly from github, i.e. `npm i zemirco/json2csv`

[2015-10-22 13:53] knownasilya commented on #75
I decided to leave this out, since it's simple enough to do.

[2015-10-22 13:53] #75 closed

[2015-10-22 14:02] knownasilya commented on #80
Released as v3.0.0

[2015-10-22 14:02] #80 closed

[2015-10-22 18:01] knownasilya commented on #71
So currently default values are supported as of v3.0.0, but only when using as the module (see the enhanced `fields` property). I could see a `--default-values value1,value2` option for the CLI which would pass the defaults to the fields in the order defined.

[2015-10-30 16:15] ahaurw01 opened #85 "Backslashes not handled properly"
There are two bugs related to the handling of backslashes:

1. When given strings with backslashes in them, `json2csv` produces 4x the number of backslashes as is appropriate. Some background and examples:

[code]
1. When a string ends with a backslash, the resulting csv cannot be parsed.

[code]

The expected results would be:

[code]

and

[code]

[2015-10-30 16:45] #85 closed

[2015-11-19 15:39] timrobertson100 commented on #14
I know this is old, but rather than opening a new issue
+1 to replacing null with "".

Putting out the text "null" is both surprising and wrong in my opinion.  Ideally you would be able to provide a config parameter to control what is generated for null values.

[2015-11-19 16:36] knownasilya commented on #14
@timrobertson100 Would an option like `transform` which is a function that is passed the value, and you can transform and return the new value, be helpful for you for this scenario?

[2015-11-23 13:44] timrobertson100 commented on #14
It's cumbersome, but sure.  Better would be just to be able to say "use '\N' for null" which is like MySQL, PostgreSQL etc.  Sadly I can't get a CSV with nulls from this library into postgres using the native postgresql COPY loader because of the null handling.

[2015-11-23 15:28] knownasilya commented on #14
That is definitely outside of the scope of this library, and much more complicated then is needed here..

[2015-11-23 15:34] timrobertson100 commented on #14
I'm sorry, but I don't understand why.  It's no different to delimiter:
[code]

Why is this so out of scope?
[code]

I don't mean to be awkward.  It's a super nice library but doesn't produce very portable CSV files as it is.

[2015-11-23 16:11] knownasilya commented on #14
Ah, ok I thought you were suggesting a DSL.. :smile:

Yes, something like `nullValue` would be nice.

[2015-11-23 16:17] timrobertson100 commented on #14
Thanks @knownasilya and sorry for not just putting that example at the beginning

[2015-11-23 16:18] knownasilya commented on #14
So that's well and good, but it won't handle `undefined` values, and I don't want to implement an `undefinedValue` as well. So I could combine them into something like `unsetValue`, but then what if some one wants different values for the two.

I think the best option would be a generic solution that can be used for any situation, like `transform`. I could add something like `json2csv({ transform:

[2015-11-23 16:52] timrobertson100 commented on #14
Is an ```undefined``` value one where the fields references a property that is not present?  If so that is by definition a ```null``` (no value for a property) and would normally be rendered the same.

Typically with JSON libraries you have the option to render nulls as ```propertyName: null``` or exclude them completely.  For example in Jackson, a common Java library, you have ```@JsonSerialize(i

[2015-11-23 18:19] knownasilya commented on #14
Yes it would contain the column name and value, which isn't so much a can of worms :smile:.

`null` and `undefined` are not equivalent in JS ([good summary on SO](http://stackoverflow.com/a/12690122/483616)), since they have different meanings
for what they represent, thus some might want to render them differently.

[2015-11-23 18:23] knownasilya commented on #14
Just remembered about the `defaultValue` option. Does that not work for your use case?

[2015-11-25 01:11] ankurkaushal opened #87 "Invalid String Length Error"
I have been using `json2csv` for big data records & apparently it seems it can't handle large datasets.

Here's the error I get:

[code]

I am using the latest version i.e. `3.0.1`. Any idea what might be causing this?

[2015-12-01 13:59] orzarchi commented on #14
defaultValue isn't working.
I would also like to output an empty string for null cells, but the following lines (160-161) prevent it:
[code]

when val is null, the if clause still activates and JSON.stringify converts it to the string 'null'

[2015-12-01 15:09] knownasilya commented on #14
@orzarchi could you submit a PR with a failing test?

[2015-12-02 07:42] nvcken opened #88 "how write csv file with support utf-8 when open with excel"

[2015-12-02 13:44] knownasilya commented on #88
What's the issue you are having? Doesn't sound related to this module.

[2015-12-02 13:55] nvcken commented on #88
My case is :
I save data sample have text "Président" to csv file.
When I open csv with MS Excel 2010,
It display "PrÃ©sident"
Maybe It 's not issue of this module, but I have not find out way to correct it ?

[2015-12-02 14:00] knownasilya commented on #88
Are you using the library via the CLI or as a module?

[2015-12-02 14:01] nvcken commented on #88
as module only

[2015-12-02 14:03] knownasilya commented on #88
Can you try through the CLI and see if the same happens?

[2015-12-02 14:05] knownasilya commented on #88
Also give http://stackoverflow.com/a/6488070/483616 a try.

[2015-12-02 14:08] nvcken commented on #88
I have tried and no luck.
Still PrÃ©sident
Simple json I tried
[code]
Then run
[code]

[2015-12-02 14:19] knownasilya commented on #88
See my other comment above ^

[2015-12-03 03:39] nvcken commented on #88
Currently I resolve by iconv command for convert it.
I will try you comment link later.
Thanks

[2015-12-03 13:58] knownasilya commented on #14
@orzarchi that line does not prevent it, see https://github.com/zemirco/json2csv/blob/master/lib/json2csv.js#L155 (`defaultValue` is used with lodashGet).

Also the tests make sure that it works here: https://github.com/zemirco/json2csv/blob/master/test/index.js#L241

[2015-12-05 16:18] orzarchi commented on #14
Created PR #89 with failing test. Will try to fix it as well.

[2015-12-05 16:23] knownasilya commented on #14
Ok, I merged the test, so just work of master to get it to pass :+1:  Thanks!

[2015-12-05 16:37] #88 closed

[2015-12-05 16:38] knownasilya commented on #87
How big is your data set? Any way you could provide a sample?

[2015-12-06 23:13] ankurkaushal commented on #87
Unfortunately I can't provide a sample but the datasets are quite large; some having more than 600,000 records. I actually ended up using inbuilt `streams` in Node which works perfect for my company's use case.

[2015-12-07 03:36] knownasilya commented on #87
Have you tried https://github.com/zemirco/json2csv-stream?

[2015-12-07 14:49] ankurkaushal commented on #87
To be honest, I didn't since we were little short on time. Will surely try it in the next project.

[2015-12-08 18:41] lillem4n opened #91 "Newlines are not created correctly"
Instead of a newline in a field, I just get the string \n .

When I manually create the CSV string myself, it works great.

[2015-12-11 22:58] karthikbhatnagar opened #93 "is it possible to create file with only data, no fields?"
I want to create a csv file with only the data and want to omit the headers.  is it possible?

[2015-12-12 02:52] knownasilya commented on #93
For the module you can use `hasCSVColumnTitle: false` and for the CLI `-n` or `--no-header`.

[2015-12-12 02:52] #93 closed

[2015-12-27 20:42] areohbe opened #94 "Referencing .json files"
This question undoubtedly has a simple answer, but do you have to include the actual JSON array or is it possible to reference a separate file including the array?

[2015-12-28 02:34] knownasilya commented on #94
So with the CLI you can use `json2csv -i path/to/file.json`. When using the module programmatically, you have to pass the JSON directly, but you can use `fs.readFile` or `fs.readFileSync` to do that.

[2015-12-28 03:35] areohbe commented on #94
I'm having trouble getting the CLI to run. The documentation says the CLI can be used if installed with `-g` but I'm a little unclear on what this means.

[2015-12-28 13:12] knownasilya commented on #94
`npm install -g json2csv` should do the trick.

[2015-12-31 17:24] areohbe commented on #94
Got it. Thanks @knownasilya!

[2015-12-31 17:24] #94 closed

[2015-12-31 17:25] knownasilya commented on #94
Glad I could help.

[2015-12-31 17:34] knownasilya commented on #87
I'm going to close this, since the streams project is a better use-case for huge data.

[2015-12-31 17:34] #87 closed

[2015-12-31 17:35] knownasilya commented on #14
@orzarchi did you have a go at the fix?

[2016-01-01 23:26] orzarchi commented on #14
yup, 20 days ago #90.

[2016-01-02 00:27] knownasilya commented on #14
Wow, sorry I missed it. Merged. Should have a new version out tomorrow.

[2016-01-03 18:17] #14 closed

[2016-01-10 03:00] acegreen commented on #32
@knownasilya what does "don't specify them" mean any take the whole , fields: or just [] or what?

[2016-01-10 03:03] acegreen opened #96 "Error: Cannot find module 'os'"
phantomjs://bootstrap.js:289
  phantomjs://bootstrap.js:254 in require
  /var/tmp/node_modules/json2csv/lib/json2csv.js:4
  /var/tmp/node_modules/json2csv/lib/json2csv.js:203
TypeError: '[object Object]' is not a function (evaluating 'json2csv')

var json2csv = require('json2csv');
var fs = require('fs');

var jsonData = require('_User.json');

json2csv({ data: jsonData }, function(err, csv) {

[2016-01-10 11:51] knownasilya commented on #32
If you don't have a `fields` array, then json2csv will just take all of the headers/columns. This means that nested fields will not show up, only the parent.

[2016-01-10 11:53] knownasilya commented on #96
You're running this in a browser?

[2016-01-14 14:38] acegreen commented on #96
no command line and casperjs to execute this as .js

[2016-01-14 14:53] knownasilya commented on #96
This module works only on the filesystem since it uses `fs` and `os`. Check out http://papaparse.com/ instead.

[2016-01-14 14:53] #96 closed

[2016-01-25 12:51] vroudge commented on #91
Same issue.

[2016-01-25 13:14] knownasilya commented on #91
@vroudge can you provide sample JSON data that is affected?

[2016-02-07 12:19] Malkiz opened #98 "Allow custom double quotes"
It would be nice if you could define what will be used to replace escaped double quotes.

I mean replace [this line](https://github.com/zemirco/json2csv/blob/master/lib/json2csv.js#L193) with something like this:
`return portion.replace(/\\"/g, params.doubleQuotes);`

[2016-02-07 18:25] knownasilya commented on #98
What's the use case for replacing the quotes?

[2016-02-07 20:09] Malkiz commented on #98
I am using this module to create CSVs which are then passed to a third party service and entered into a database. Thus I have to conform to their CSV formatting and encoding guidelines, which include having regular escaped quotes in string values (i.e. `"ab\"c"` instead of `"ab"""c"`)

[2016-02-08 08:51] #98 closed

[2016-02-10 20:57] alinex opened #101 "numbers in international format"
Is it possible to convert numbers into other formats like the german one with ',' as decimal separator instead of '.'
Maybe a transform function like replace(/\./g, ',') on all numbers can be given as parameter.

[2016-02-10 21:03] knownasilya commented on #101
The `fields.value` function argument might help you here: https://github.com/zemirco/json2csv#example-fields-option

[2016-02-11 14:21] dorgan opened #102 "No Header option when not using CLI"
Currently you can specify --no-header when using CLI, however it does not look like this option exists when not using CLI.

[2016-02-11 14:25] knownasilya commented on #102
See https://github.com/zemirco/json2csv/blob/master/bin/json2csv.js#L114 It's called `hasCSVColumnTitle`.

[2016-02-11 14:26] dorgan commented on #102
Excellent, thanks!!

[2016-02-11 14:26] #102 closed

[2016-02-11 14:32] dorgan commented on #102
@knownasilya it looks like that option is only pulled in when using it via CLI, I tried setting hasCSVColumnTitle to true in the options object but it still output the header.

[2016-02-11 14:34] knownasilya commented on #102
You need to set it to `false`.

[2016-02-11 18:08] narainsagar commented on #87
@ankurkaushal  Hi, I was also facing same problem from past last two days.. I tried with many libs and at last I found a great library which handles large dataset problem nicely....

https://www.npmjs.com/package/csvwriter

You must try this.. I have exported upto 5 lacs json objects..

Hope this helps others as well, when they come over this issue.

Cheers, Thanks.

[2016-02-11 18:11] knownasilya commented on #87
Thanks for the link.

[2016-02-20 19:18] adrianmihalko opened #103 "Convert import.io json?"
Hi,

I am trying to convert http://import.io json output to xml, but they have this format:

[code]

`@ubuntu:~$ json2csv -i data.json -f price, productname`

This is not working because these fields are not in the root tree, but under "results".

Could you please help me with this?

Regards,
Adrian

EDIT:

-i (input) option doesn't work on Ubuntu:

[code]

[2016-02-20 22:42] knownasilya commented on #103
You can do something like `json2csv -i test.json -F`

[code]

or `json2csv -i test.json -f results[0].price,results[0].productname`

[code]

[2016-02-20 22:45] knownasilya commented on #103
For more control, use the lib as a module, and pass in custom `fields` options. See the docs here: https://github.com/zemirco/json2csv#example-fields-option

[2016-02-20 22:46] knownasilya commented on #103
`-i` expects a json file, not a csv file.

[2016-02-21 22:03] knownasilya commented on #103
Let me know if you need anything else. Closing in the mean time.

[2016-02-21 22:03] #103 closed

[2016-02-23 09:58] adius opened #104 "Fields are missing in csv output"
I have several hundred objects and serialize them with json2csv.
There are, however, some fields missing in the output.
Must fields have a minimum number of occurrences, or why is that?

[2016-02-23 13:17] knownasilya commented on #104
how many fields are there? and do all objects have those fields?

[2016-02-23 15:52] adius commented on #104
Yeah, I just realized it's only the fields of the first object. Is there no flag to include all available fields in all objects and just those of the first one?

[2016-02-23 15:59] knownasilya commented on #104
It should work just fine as long as your JSON is an array. See this test: https://github.com/zemirco/json2csv/blob/master/test/index.js#L45

[2016-02-25 09:53] AminaG opened #105 "Bug in CSV"
If I this field for example:

       "x-forwarded-proto":"http","cf-visitor":"{\"scheme\":\"http\"}","accept":

It will cut it and in the csv it will looks like this:

        "x-forwarded-proto":"http","cf-visitor":"{\scheme\":\"http\"}""

I'm using default options why using json2csv

[2016-02-25 13:30] knownasilya commented on #105
That doesn't look like valid JSON. Is that the full contents of the file? What json2csv options are you using to build the CSV?

[2016-03-09 02:52] ilovelll commented on #88
@nvcken Could you share me the solution? I got this problem too...

[2016-03-18 09:29] KaustubhYK commented on #104
I am also facing same issue.

[2016-03-18 11:59] knownasilya commented on #104
What does you data look like?

[2016-03-30 20:59] FreakinaBox opened #106 "" escaping error""
[code]
outputs
`"\""`
instead of
`"\\""`

[2016-03-30 21:01] knownasilya commented on #106
@FreakinaBox think you could write a failing test as a PR?

[2016-03-30 21:19] FreakinaBox commented on #106
pr #107

[2016-03-30 21:35] FreakinaBox commented on #106
turns out this is a little more generic an issue than I thought, it wont escape any `"` when preceded by `\`.
I tried it without setting doubleQuotes: ... and it still would not escape it.

[2016-03-30 21:45] FreakinaBox commented on #106
The test case passes but on my machine \" doesnt get escaped...

[2016-03-30 21:56] knownasilya commented on #106
Are you using it in CLI mode or as a module, and what version of node?

[2016-03-31 14:05] FreakinaBox commented on #106
I am running as a module in Node v4.3.2

[2016-04-02 12:59] kayheunen commented on #91
`{"Subject":"Artis ZOOmeravonden","Start Date":"07/02/2016","Start Time":"03:00 PM","End Date":"07/02/2016","End Time":"10:00 PM","All Day Event":false,"Description":"Artis in the evening\nLetting Amsterdamâ€™s party animals in, ZOOmeravonden welcomes guests to explore the Artis Royal Zoo during the summer evenings until sunset. Some of the animals will be shaking off the last bit of energy before

[2016-04-02 23:33] knownasilya commented on #91
@kayheunen what options are you running against that JSON?

[2016-04-04 14:17] kayheunen commented on #91
None, atm. I've tried newLine: "\n", newLine: "\\n",  newLine: '\n', newLine: '\\n' and some others.

[2016-04-04 14:24] knownasilya commented on #91
All of the above are the same.

[2016-04-04 14:34] kayheunen commented on #91
Ah sorry, github didn't accept. take the double backslash and the double and single quotes.
`newLine: "\n"`
`newLine: "\\n"`
`newLine: '\n'`
`newLine: '\n'`

What do you propose to use, given the input in my first comment?

[2016-04-04 14:40] knownasilya commented on #91
single quotes and double quotes don't make a difference.

[2016-04-04 14:40] kayheunen commented on #91
So what should I put as options?

[2016-04-18 15:06] rhasson opened #109 "parsing nested arrays"
Hi,

is there a way to set the path of a field within a nested array?

For example,
[
  {name: 'bob', cars: [
      {make: 'toyoya', drivers: [{name: 'jane', age:'18'}, {name:'john',age:'24'}] },
      {make: 'nissan', drivers: [{name: 'jim', age: '33'}]
    ]
  },
  {...}
]

What I'd like to do is set the fields option to ['name', 'cars[].make'] and also do ['name', 'cars[].drivers[].name', 'cars

[2016-04-18 15:33] knownasilya commented on #109
You can set the field to `a[0].b.c` so you must specify the index in the array. Since a field is a single value, you wouldn't be able to use all the values from every item in your array.

An alternative is to use a function for your `value` field. See the second field setup in this example https://github.com/zemirco/json2csv#example-fields-option

[2016-04-18 15:54] rhasson commented on #109
Perfect, thank you.  I also noticed there is a flatten flag in the options object which also helps.

[2016-04-18 15:54] #109 closed

[2016-04-24 19:04] #71 closed

[2016-04-24 19:05] #101 closed

[2016-04-24 19:06] knownasilya commented on #106
Closing, since there is no reproduction.

[2016-04-24 19:06] #106 closed

[2016-04-25 13:46] dciccale opened #110 "expand array into columns?"
Hi I would like to know if the following example is possible or I should first format my data in some way achieve it:

[code]

[code]

[2016-04-25 13:59] knownasilya commented on #110
[code]

Should do it

[2016-04-25 14:01] knownasilya commented on #110
You can also use the `flatten` option https://github.com/zemirco/json2csv#available-options

[2016-04-25 14:07] dciccale commented on #110
ok I'll try that and come back, thanks for the super fast response

[2016-04-25 14:10] dciccale commented on #110
yes that works thanks again

[2016-04-25 14:10] #110 closed

[2016-04-28 03:48] alinex commented on #101
I solved it by formating the numbers before converting it to csv.

[2016-05-05 19:27] tagplus5 opened #112 "visual studio code show error"
`[js] Exported external package typings file '.../node_modules/json2csv/index.d.ts' is not a module. Please contact the package author to update the package definition.`

[2016-05-05 19:31] knownasilya commented on #112
Feel free to submit a PR, I don't use TS.

[2016-05-09 08:30] mlegenhausen commented on #112
Using `declare module` seems to be deprecated: https://github.com/Microsoft/TypeScript/issues/2839

I changed the typescript definition to the following:

[code]

I will prepare a pull request and try to validate if this the current state of the are type definition format.

[2016-05-09 12:38] #112 closed

[2016-05-09 15:27] mlegenhausen commented on #112
In which version will this fix be available?

[2016-05-09 15:48] knownasilya commented on #112
It is now released as 3.4.1

[2016-05-09 16:01] mlegenhausen commented on #112
@knownasilya thanks :)

[2016-05-19 23:01] corbanb commented on #91
@knownasilya is it an escaping issue?

[2016-05-20 14:35] dbuentello commented on #91
I think the issue is JSON.stringify escapes `\n`. PR submitted

[2016-05-20 17:50] knownasilya commented on #91
Released as v3.4.2

[2016-05-23 14:04] #105 closed

[2016-05-23 14:04] knownasilya commented on #105
Closing due to no response from @AminaG

[2016-05-23 14:04] knownasilya commented on #104
Ping

[2016-05-24 22:05] satish4j opened #115 "Invalid character error"
I'm using json2csv from the command line. Everything was working until it started giving the following error :

![image](https://cloud.githubusercontent.com/assets/19560488/15521464/d0f1edda-21c0-11e6-9636-171078f65b82.png)

[2016-05-24 23:11] knownasilya commented on #115
Was it working before? If so, did you do anything that might have changed that?

[2016-05-24 23:15] satish4j commented on #115
It was working before but I don't remember doing anything to the installation folder itself. Also, I re-installed the whole thing : node.js and then the package

[2016-05-24 23:39] knownasilya commented on #115
Which versions (for both)?

[2016-05-24 23:44] satish4j commented on #115
json2csv version": "3.4.2"
Below are the versions for node.js and npm.

![image](https://cloud.githubusercontent.com/assets/19560488/15523314/658c0dd8-21ce-11e6-84f3-cf9f10755004.png)

[2016-05-25 00:05] knownasilya commented on #115
Do you know which versions worked before?

[2016-05-25 02:41] satish4j commented on #115
I believe it's the same version . I say that since I just downloaded the
software a couple of days ago for the first time.

On Tuesday, May 24, 2016, Ilya Radchenko <notifications@github.com> wrote:

[2016-05-25 13:25] knownasilya commented on #115
Can you paste the command for when you run the tool? Thanks!

[2016-05-25 13:34] knownasilya commented on #115
If you installed and used the command properly, it would not come up with that error. The error is running the script with the Windows JS interpreter, not nodejs.

http://stackoverflow.com/a/10398567/483616

[2016-05-25 17:01] satish4j commented on #115
Here's a sample command I'm running and as I mentioned before,this worked fine until something happened. Also, just typing json2csv at the command line and running produces the same error message.

![image](https://cloud.githubusercontent.com/assets/19560488/15548971/54b8177c-225f-11e6-9067-2a5a831a6aea.png)

[2016-05-25 17:12] knownasilya commented on #115
Is node in your PATH env?

[2016-05-25 17:24] satish4j commented on #115
Here are strings in my PATH environment variable :

![image](https://cloud.githubusercontent.com/assets/19560488/15549701/b45defb4-2262-11e6-9551-46d5fe439d35.png)

[2016-05-25 19:04] knownasilya commented on #115
I think npm creates a *.cmd file in the json2csv/bin maybe it's not pointing to the right place?

Did you try running it directly through node (like I mentioned above)?

[2016-05-25 19:25] satish4j commented on #115
I don't see the .cmd file anywhere in the installation folder or sub-folders.
Also, when I ran the node command you sent, I get the following error(looks like some dependencies are missing)
![image](https://cloud.githubusercontent.com/assets/19560488/15553403/b1aa28a8-2273-11e6-8dac-1bbf73827c97.png)

[2016-05-25 19:57] knownasilya commented on #115
Seems like you cloned the project and forgot to `npm install`.
You should be installing it with `npm install -g json2csv` or `npm install --save json2csv` (if using as a module in a project).

[2016-05-25 22:56] satish4j commented on #115
I did npm install but I still get the same error. Also, when I run npm ls, I get the following errors:
![image](https://cloud.githubusercontent.com/assets/19560488/15558747/47dd7f88-2291-11e6-913c-4b8b4d962783.png)

[2016-05-25 23:21] satish4j commented on #115
BTW, I installed node.js or json2csv on a separate machine and it's working there. Although, I still see the same dependency error as above but I don't get the Invalid Character popup error

[2016-05-26 00:19] knownasilya commented on #115
Looks like all the dependences are missing, so your install failed.

[2016-05-27 17:28] satish4j commented on #115
How do I fix it? I uninstalled and reinstalled but I still get the same error. As I mentioned earlier, when I do the same steps on a new machine,it works like a charm.
I believe there are some remnants (due to an incomplete uninstall I guess) on my old machine that might be causing this issue. Any ideas?

[2016-05-27 20:59] knownasilya commented on #115
How are you installing node/npm?

[2016-05-28 00:19] satish4j commented on #115
Step 1 . I'm going to the nod.js website https://nodejs.org/en/download/ and download node-v4.4.5-x64.msi and install with all defaults

Step 2. Open command prompt and navigate to the json2csv-master directory where the package.js is located.

Step 3. Run the following command   npm install -g

This is how I set it up on a new machine and it works.

For uninstalling on it from old machine, I went

[2016-05-28 01:19] knownasilya commented on #115
Ah, you aren't installing it correctly.. delete that `json2csv-master` directory and run `npm install -g jason2csv` anywhere. After install you can use `json2csv ..` from anywhere in the command line.

[2016-05-28 01:29] satish4j commented on #115
Awesome! That worked. I'm not sure where I got those instructions from. Can you clarify what was going on before? How does npm know about json2csv? Sorry about these basic questions but I'm kinda new to this stuff. Thanks for all your help!

[2016-05-28 01:46] knownasilya commented on #115
Basically npm has global modules and local `-g` means you are installing the module globally, and since this library has a `bin` defined, npm creates a .cmd in windows and puts it on the PATH so you can run it from anywhere.

The other way is to install a module locally in another module, i.e. `npm install json2csv --save`.

The last way is to clone the module from github, and just run `npm instal

[2016-05-28 14:06] #115 closed

[2016-06-16 05:56] glutentag opened #117 "field.default not overriding options.defaultValue when falsy"
Hello,

I have found an issue with fields.default not overriding options.defaultValue when it has a falsy value.
This is due to this line:
[code]

[2016-06-16 06:06] glutentag opened #118 "field.value doesn't use options.defaultValue when it is a function"
Hello,

When field.value is a function, it uses field.default as a default value but doesn't use options.defaultValue.
Also, if the function returns a falsy value, it is replaced by the default value.

It is from this line:
[code]

[2016-06-16 07:05] glutentag opened #120 "Include empty rows"
Hello,

json2csv ignores empty rows, due to this line:
[code]

In my current user case, I would expect an empty row to be filled with default values. What about adding a new options parameter, for instance 'excludeEmptyRows', default to true for compatibility (or 'includeEmptyRows' with default false)?

[2016-06-16 12:44] knownasilya commented on #120
@glutentag would you like to submit a PR with an implementation?

[2016-06-16 12:46] #118 closed

[2016-06-16 12:46] #117 closed

[2016-06-16 12:58] Skuriles opened #121 "Problem with double quotes"
Hello,

just noticed that the created csv has some problems with "".

Current code (working perfect!!)

[code]

CSV after fs.writefile and download it:
Projekt,Start,Stop
Projekt,15.06.2016, 13:42,15.06.2016, 13:43
Projekt2,15.06.2016, 13:45,15.06.2016, 13:45
Projekt3,15.06.2016, 13:46,15.06.2016, 14:14
Projekt4,15.06.2016, 14:55,15.06.2016, 14:57
Projekt5,16.06.2016, 10:48,16.06.2016, 10:48

If I

[2016-06-16 13:58] knownasilya commented on #121
@Skuriles could you submit a failing test?

[2016-06-16 19:08] havenchyk commented on #121
@knownasilya I have the similar error, I've used the example1 in the browser.

[code]

after the *json2csv*, I'm creating the Blob object from the resulted string and the first item doesn't contain the quotes. I didn't check what was the reason of error, just switched to `papaparse.unparse`, because of lack of time.

[2016-06-16 19:13] knownasilya commented on #121
Thanks for your input.

[2016-06-17 05:04] Skuriles commented on #121
Still need a failing test?  Or is the example code good enough?

[2016-06-17 12:39] knownasilya commented on #121
If you have the time, a failing test would be appreciated!

[2016-06-17 13:14] Skuriles commented on #121
I'm out of office for today... will be at least monday... sorry

[2016-06-21 03:29] glutentag commented on #120
@knownasilya Sure, here is a PR, using 'includeEmptyRows'.

[2016-06-21 13:20] #120 closed

[2016-06-21 13:37] knownasilya commented on #104
There is also a `includeEmptyRows: true` option (in CL `--include-empty-rows` or `-a`).

[2016-06-21 14:11] knownasilya commented on #120
Released as 3.5.0

[2016-06-23 08:14] rajeshvaya opened #123 "Node thread stuck for large dataset"
When I try to export an array of 10k items to CSV, the Node thread is utilizing the CPU for long time to convert JSON to CSV and hence it doesn't respond to any other incoming requests

[2016-06-23 13:00] knownasilya commented on #123
Give the streams version a try, or the alternatives below that section: https://github.com/zemirco/json2csv#but-i-want-streams

[2016-06-28 17:32] hongeric101 opened #124 "Double backslash parsing"
I have some IDs that are escaped, and json2csv seems to do something weird when the IDs end with a double backslash. My code:

[code]

The output is:

[code]

In larger files, this messes up other lines, and neither Numbers nor another program I'm using can parse the file correctly.

[2016-06-28 18:35] knownasilya commented on #124
So we do normalization of all fields, i.e. https://github.com/zemirco/json2csv/blob/master/lib/json2csv.js#L190

I think adding an option to `skipNormalization` for each field would solve your issue.

[2016-06-28 18:37] #123 closed

[2016-06-28 22:27] hongeric101 commented on #124
Sorry, how do I do that?
[code]
Doesn't work.

Thanks.

[2016-06-29 00:11] knownasilya commented on #124
I mean't as an enhancement, i.e. we don't have that feature yet.

[2016-06-29 21:53] kadjei commented on #104
I'm experiencing the same problem.
The output includes only the first objects in my multidimensional arrays.
But i get the expected output using the flat module directly.

[2016-06-30 01:56] knownasilya commented on #104
I need some example data to debug this issue.

[2016-07-06 22:36] episodeyang opened #125 "Is there a synchronous version?"
Hi Zemirco,

I am using this on the client side. My application requires converting a large set of json documents into csv strings, and it is easier to use a synchronous syntax.

Is there a synchronous syntax I can use for this library?

Thanks!

[2016-07-07 03:28] knownasilya commented on #125
No, but you could always wrap it in a promise, and use `Promise.all()`, or use the `async` library from npm.

[2016-07-07 18:56] #125 closed

[2016-07-07 19:04] knownasilya commented on #125
As of v3.6.0 you can use it in a nice sync format,  i.e.

[code]

[2016-07-07 19:06] STRML commented on #125
In general, too, so long as your data is predictable (aka you're implementing this as an alternative to JSON response format), you can avoid the try/catch by doing something like:

[code]

[2016-07-09 14:55] DaniyalGeek opened #127 "remove header"
how can i remove the headers or first row from csv?

[2016-07-09 15:23] knownasilya commented on #127
`hasCSVColumnTitle` set to false if using the module. From the CLI, `--no-header`. It's all in the docs :)

[2016-07-09 15:23] #127 closed

[2016-07-10 16:45] rjsteinert commented on #104
@knownasilya Here's an example of the behavior @adius explains as "it's only the fields of the first object". Note how the third object in the array has a different schema than the first two and the output only expresses schema of the first object and then behaves strangely for the output of the third object (I'm guessing it's something like `undefined, undefined`).

[code]

[2016-07-10 18:02] knownasilya commented on #104
Looks like expected behavior to me, since you didn't set default values.

[2016-07-10 18:07] adius commented on #104
If this is the default behavior, we have entirely different views on how this is supposed to work 😂🙈

[2016-07-10 18:09] adius commented on #104
I seems like everybody else things it should work like this:

[code]

[2016-07-10 19:25] knownasilya commented on #104
Ah, I see your point. I think this hasn't been addressed due to an assumption that all of the objects are of the same schema. I'd take a PR to address this if you want to contribute.

[2016-07-11 00:00] rjsteinert commented on #104
@adius Your example is what I would have expected. Might be worth looking at how the `jsonexport` library handles ["Complex Array"](https://github.com/Cnova/jsonexport#complex-array), AKA an array of object with varying schemas.

[2016-07-11 12:41] knownasilya commented on #104
So this issue only exists for the auto-fields feature, so it should be easy enough to fix. I'll look into it.

[2016-07-12 00:00] #104 closed

[2016-07-12 00:02] knownasilya commented on #104
Can you give master a try before I publish this?

[2016-07-12 13:19] knownasilya commented on #104
Published as 3.6.1

[2016-07-13 21:29] episodeyang commented on #125
Thanks guys! this is awesome!!!!

[2016-07-15 01:30] rjsteinert commented on #104
It works!

Old...
[code]
New!
[code]

[2016-07-15 07:15] DaniyalGeek opened #129 "specify column as it is in json"
how to get column as it is in csv like if i use doubleQutoes
then
`a339ce05-61de-4544-ab2e-fcc2b3422c1a,rate-limiting,f09ed2d3-d5a7-4d77-ad1c-c6afffa4bfb8,{continue_on_error:false,async:false,day:12},,2016-07-14T14:18:25.995Z,true`

[2016-07-15 07:16] DaniyalGeek commented on #129
and what i need is

`a339ce05-61de-4544-ab2e-fcc2b3422c1a,rate-limiting,f09ed2d3-d5a7-4d77-ad1c-c6afffa4bfb8,"{"continue_on_error":false,"async":false,"day":"12"}",,2016-07-14 14:18:25+0000,True`

[2016-07-19 13:04] shaishab-duet opened #130 "Is it possible to append data with previous csv file?"

[2016-07-19 13:06] knownasilya commented on #130
https://github.com/zemirco/json2csv#appending-to-existing-csv

[2016-07-19 13:06] #130 closed

[2016-07-19 13:14] shaishab-duet commented on #130
I used this code to write in csv file

var csv = json2csv({ data: myCars, fields: fields });

fs.writeFile('file.csv', csv, function(err) {
  if (err) throw err;
  console.log('file saved');
});

so how to append data second time with file.csv ?

[2016-07-19 13:21] knownasilya commented on #130
Have a look at this PR https://github.com/zemirco/json2csv/pull/128/files

[2016-07-20 03:10] SenthilkumarGanesan opened #131 "What would be the steps to install this package on Mac Pro"
What would be the steps to install this package on Mac Pro.

[2016-07-23 05:20] rjsteinert commented on #130
@shaishab-duet I'm not sure if I'll have time to finish up that PR. Feel free to take the reigns if you do.

[2016-07-25 15:47] knownasilya commented on #131
First you'd install https://nodejs.org/en/download/ which includes `npm`.
Then you can install it globally with `npm install -g json2csv`.

[2016-07-25 15:49] #131 closed

[2016-07-25 15:49] knownasilya commented on #131
All the instructions are in the README. Let me know if anything is missing there and I'll update it.

[2016-07-26 07:26] T1KK3S opened #133 "Debugger statement when not specifying fields"
When not specifying fields the code always runs into a debugger statement, thus opening the debugger.
I believe this should be removed from the code itself.

![capturejson2csv](https://cloud.githubusercontent.com/assets/20314637/17129383/0d747826-5313-11e6-9b32-1c4b539485e4.PNG)

[2016-07-26 12:19] knownasilya commented on #133
#132 has already fixed the problem, and it has been released as v3.6.2

[2016-07-26 12:19] #133 closed

[2016-08-12 14:05] nickk75 opened #135 "Reading external json files"
Hey guys,

Quick question I tried to import data from an external json file; as it is a large record, in my JS script as shown below.

[code]

I have this code written (bear in mind, I'm new to JS and programming in general), it executes successfully (no syntactical errors) but there are no outputs in the csv file. Any chance someone can lend me a hand with it?

PS, below is an example of some of

[2016-08-13 18:31] knownasilya commented on #135
After you read the file in that manner, you still need to `JSON.parse(..)` since the contents are a string. I'd recommend `var occupations = require('./occupations.json');` instead.

[2016-08-15 12:44] nickk75 commented on #135
Hey Knownasilya,

I tried parsing & directly requiring on the json file, but still no joy from my efforts. If I attach the json internally in the file (Example 1), it works, my issue is trying to reference a json file (Example 2).  Sorry for hustling you guys, I just really don't seem to be able to make this work

**Example 1**
`
var json2csv = require('json2csv');
var fs = require('fs');
var fiel

[2016-08-15 14:03] knownasilya commented on #135
Can you upload your json to a gist or something so I can test? Thanks!

[2016-08-17 13:40] knownasilya opened #137 "Update website link on repo"
@zemirco could you update the repo's website link to http://www.mircozeiss.com/json2csv/ or http://zemirco.github.io/json2csv

[2016-08-18 16:00] NitinTiwari1010 opened #138 "How to use json2csv in Angular2 ?"
Hi, I want to use json2csv in my angular2 project, I have installed json2csv through npm but when i am trying to add import statement in my component, it is giving below error..
"node_modules/json2csv/index"' resolves to a non-module entity and cannot be imported using this construct."

My component code to import json2csv below.

import {json2csv} from 'json2csv';

Please help

[2016-08-18 16:15] knownasilya commented on #138
To use it through npm as a module you'd have to use a bundler like browserify, webpack, etc..
Alternatively we have prepackaged a version that can be used with a script tag: https://github.com/zemirco/json2csv#include-using-a-script-tag-not-recommended

[2016-08-18 16:21] NitinTiwari1010 commented on #138
Thanks for quick response, I am using angular-cli for angular2 project. is there any way/workaround to import json2csv in my angular2 component.

[2016-08-18 16:27] knownasilya commented on #138
I'd try `ember-browserify` addon e.g. `ng install ember-browserify` and then `import json2csv from 'npm:json2csv';`. Not sure if that addon will work with ng-cli, since not all ember addons do.

An alternative would be to `app.import(pathtojson2csv)` in the ng broccoli/build file. Not sure what it's called in ng-cli, but it's at the top directory.

[2016-08-18 18:34] NitinTiwari1010 commented on #138
ember option is not working, for second option, i added js in all the places in angular-cli but it is not importing anything from json2csv. getting same error.

[2016-08-18 19:04] knownasilya commented on #138
Can you show me how you have it setup?

[2016-08-18 19:12] NitinTiwari1010 commented on #138
Thanks a lot for your help, i have added details about json2csv in multiple files like i am doing for other components:
below are the details with file name:

1. angular-cli-build.js
module.exports = function(defaults) {
    return new Angular2App(defaults, {

        vendorNpmFiles: [
          'systemjs/dist/system-polyfills.js',
          'systemjs/dist/system.src.js',
          'zone.js/dist/*

[2016-08-18 19:52] knownasilya commented on #138
Try `json2csv/dist/**/*.js`

[2016-08-18 20:08] NitinTiwari1010 commented on #138
Thanks for help.

i got the following error after this change:

1. when i write "import json2csv from 'json2csv' ;" in my component file, error below:
Module '"c:/Merch/DPSG.Web.Merchandiser/src/WebApp/node_modules/json2csv/index"' has no default export

2.  when i write "import json2csv from 'json2csv/dist/json2csv' ;" i got, cannot find module json2csv/dist/json2csv.

[2016-08-18 20:17] knownasilya commented on #138
You cannot import it in your code, it's a global, e.g. `json2csv. Make sure to add it to your `.jshintrc` file as well.

[2016-08-18 20:23] NitinTiwari1010 commented on #138
if it cannot add in my component then how i will use in my angular2  custom component?, is there any work around?  I have used ng2-easy-table, ng2-datepicker but didn't face this issue.

Please advice.

[2016-08-18 20:28] knownasilya commented on #138
You should just be able to use it in your components without any imports. Just do `json2csv(...)`.

[2016-08-19 18:26] zemirco commented on #137
done

[2016-08-19 18:26] #137 closed

[2016-08-27 05:16] vicheanak commented on #138
I just found the solution: after you have the json2csv in your dist/vendor folder, you just need to put this line in your src/index.html:
<script src="vendor/json2csv/dist/json2csv.js"></script>

[2016-08-27 05:20] vicheanak commented on #138
Has somebody found the solution to this yet? @knownasilya you can't use it as global json2csv, because it's not angular2 component. you can't just call it as global variable.

[2016-08-27 22:32] knownasilya commented on #138
You can always use globals, just use `window.json2csv`.

[2016-08-28 13:22] vicheanak commented on #138
When I did that, it gives me this error:
`src/app/report/report.component.ts|103 col 26 error| Property 'json2csv' does not exist on type 'Window'.`

[2016-08-28 13:23] vicheanak commented on #138
<img width="345" alt="screen shot 2016-08-28 at 8 23 08 pm" src="https://cloud.githubusercontent.com/assets/696919/18034058/49f13f78-6d5d-11e6-9899-5fd535248e2d.png">
This is my console.

[2016-08-28 17:12] knownasilya commented on #138
Ok, so it should just work, without window.

[2016-08-29 02:41] vicheanak commented on #138
No, it only works on the console, when I use it in typescript, it gives this error:
`src/app/report/report.component.ts|182 col 14 error| Cannot find name 'json2csv'.`

[2016-08-29 12:39] knownasilya commented on #138
http://stackoverflow.com/a/13252853/483616

[2016-08-29 14:01] vicheanak commented on #138
@knownasilya 👍 thanks, it's working good!
By the way, for late comers, to have the json2csv to be available as the global variable, I've setup in the system-config.ts of angular-cli, included this src in the src/index.html
`<script src="vendor/json2csv/dist/json2csv.js"></script>`

[2016-08-29 14:18] #138 closed

[2016-08-31 19:43] briandiaz commented on #88
Response?

[2016-08-31 21:56] dciccale opened #139 "expand nested array into rows?"
hi, is there a biult-in way to expand a nested array into multiple rows for the same object?

let's say I have this json:

[code]

desired output:

[code]

so basically create a row (which would have the same top-level data but expanding per each friend

[2016-09-05 18:09] TakesTheBiscuit commented on #139
That sounds like an interesting option, but i don't think JSON is representational of that kind of format, is it?
I think perhaps you should look at POST-PROCESSING the CSV file rather than building this into json2csv.
As i see it, JSON2CSV is doing it's job, it's doing a great job of taking one format and mutating it to suit another.
If you use the -F CLI arguement: Why don't you search each CSV

[2016-09-05 18:19] TakesTheBiscuit commented on #139
Just to add, check out:
https://www.npmjs.com/package/flat

[2016-09-05 18:59] dciccale commented on #139
I got the output I wanted by doing this:

(copy pastable example)

[code]

so, basically preparing the data for json2csv is what we are doing here. but maybe would be interesting having a "key" option to indicate from where to generate rows.

[code]

so then it will expand that array into rows copying the general data like "name" each time, but adding the fields inside the `friends` array as colum

[2016-09-05 19:14] TakesTheBiscuit commented on #139
Line 6 json2csv.js:
`var lodashFlatten = require('lodash.flatten');`

Isn't that the same one? already being included? I'd suggest a PR against json2csv.js to bring in your functionality as the lib is already referenced/required

[2016-09-05 19:33] dciccale commented on #139
ok, i could prepare a PR, however would be interesting to read opinion from a contributor first?

[2016-09-05 23:36] knownasilya commented on #139
I'll submit my thoughts tomorrow, thanks for using json2csv.

[2016-09-07 13:51] knownasilya commented on #139
I'd take something like `{ rowKey: 'friends' }` where the data type doesn't have to be an array but the key will decide over which array to iterate. I've also made a change where the field value function now receives the field values, and the full data source, which in your case would be:

[code]

Feel free to submit a PR introducing the new `rowKey` option.

[2016-09-12 14:34] #135 closed

[2016-09-15 15:02] jonathan-fulton commented on #139
This is extremely similar to the $unwind Mongo operation.  Perhaps instead of rowKey you could use similar terminology?

https://docs.mongodb.com/manual/reference/operator/aggregation/unwind/

FYI, I was just about to code this up myself to transform clickstream data into CSV files so I'm glad I came across this.  Any update as to when this could be merged in?

[2016-09-15 15:35] knownasilya commented on #139
It can be merged as soon as it's implemented 👍

[2016-09-15 16:55] jonathan-fulton commented on #139
Alrighty, let me see if I can get a PR out there for you.  Might not be until tomorrow or Monday.

[2016-09-15 19:33] jonathan-fulton commented on #139
Ok, PR posted!  Let me know what you think.

[2016-09-20 14:32] panshul007 commented on #124
I have a problem which might be similar.
my json field has an escaped json string as a value (the weird thing exists because of Java module).

[code]

This gets parsed to:

[code]

It should have been:
[code]

or how can I make it better?

[2016-09-20 15:54] dciccale commented on #139
fixed on #140

[2016-09-20 15:54] #139 closed

[2016-09-20 17:19] knownasilya commented on #139
Released as v3.7.0

[2016-09-21 15:48] knownasilya opened #141 "Return stream, and deprecate json2csv-stream"
Deprecate https://github.com/zemirco/json2csv-stream

[2016-09-21 15:50] knownasilya opened #142 "Change API"
- [x] Allowing a simpler invocation.

[code]
- [x] Remove callback support
- [x] Return stream, deprecate https://github.com/zemirco/json2csv-stream

[code]

[2016-09-21 15:51] #141 closed

[2016-09-29 22:58] monicasenapati opened #143 "installation of json2csv"
I have cloned this on my system. But when I install it via terminal using the following command
npm install json2csv --save
it shows an error. I am unable to install and run it via command line.

[2016-09-30 01:01] knownasilya commented on #143
You don't need to clone. If you want to use as a module use npm install --save json2csv inside your project and if you want to use via the CLI, use -g instead.

[2016-09-30 01:06] monicasenapati commented on #143
Do you mean to run it by
Npm install -g json2csv in the terminal directly?

Because I tried that. But when I run the command json2csv - h, it says that no such file or directory.

On Sep 29, 2016 8:01 PM, Ilya Radchenko <notifications@github.com> wrote:

You don't need to clone. If you want to use as a module use npm install --save json2csv inside your project and if you want to use via the CLI, u

[2016-09-30 01:35] knownasilya commented on #143
[![asciicast](https://asciinema.org/a/er5pbr1b8ljkkpgr2z40nc8c3.png)](https://asciinema.org/a/er5pbr1b8ljkkpgr2z40nc8c3)

[2016-09-30 02:16] monicasenapati commented on #143
Yes, I do that. On running the install command this is what I get.

/usr/local/bin/json2csv -> /usr/local/lib/node_modules/json2csv/bin/json2csv.js
/usr/local/lib
$B(&(!(!(B json2csv@3.7.0

But on running json2csv -h, it says that "/usr/bin/env: $B!F(Bnode$B!G(B: No such file or directory"

I am running this in the terminal on Ubuntu.

Thanks & regards,

Monica

_____________________________

[2016-09-30 02:24] knownasilya commented on #143
What version of node?

[2016-09-30 02:34] monicasenapati commented on #143
I just found out that nodejs wasn't installed. I didn't realise it needed something called node. The fact is I am new to this area, so I am not aware of these prerequisites.

However, I installed nodejs. And tried installing json2csv again. It worked.

And my node version is v4.2.6.

I have attached the debug logs from when there was a problem with the installation, just in case.

Thank you for yo

[2016-09-30 02:51] #143 closed

[2016-10-01 19:40] monicasenapati opened #144 "using json2csv as a module"
I am writing a scala program, using intelliJ. I would like to know how to include json2csv in it, so that I can use it from the scala program to convert a large json file into csv, including only the selected attributes from json, not all the attributes of a json component.

[2016-10-02 00:56] knownasilya commented on #144
This is a Node.js module, so it won't work for Scala.

[2016-10-02 00:56] #144 closed

[2016-10-02 00:58] monicasenapati commented on #144
So excluding the terminal in Linux, in which other way can I use json2csv?

On Oct 1, 2016 7:56 PM, Ilya Radchenko <notifications@github.com> wrote:

This is a Node.js module, so it won't work for Scala.

-
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/zemirco/json2csv/issues/144#issuecomment-250947036>, or mute the threa

[2016-10-02 18:23] monicasenapati opened #145 "using json2csv as a module"
Can this be used in shell script files or python? I have a number of json files which I have to parse using python.

[2016-10-02 19:35] knownasilya commented on #145
You can use it in shell scripts just like in terminal. Also you can call it with any language as a command on the terminal, e.g.

[code]

[2016-10-02 21:58] monicasenapati commented on #145
If it can be used in any other language, then can it be used in Scala as well?

If yes, then how?

________________________________
From: Ilya Radchenko <notifications@github.com>
Sent: 02 October 2016 13:35:43
To: zemirco/json2csv
Cc: Senapati, Monica (UMKC-Student); Author
Subject: Re: [zemirco/json2csv] using json2csv as a module (#145)

You can use it in shell scripts just like in terminal. Al

[2016-10-03 00:08] knownasilya commented on #145
http://alvinalexander.com/scala/scala-execute-exec-external-system-commands-in-scala

[2016-10-03 00:08] #145 closed

[2016-10-04 14:59] jharting commented on #91
This was reverted in https://github.com/zemirco/json2csv/commit/eb0bb6edae298f635dd3e4c1c5afe974b1dc13b2

Is there currently some way to work around this issue? Could this be reopen?

[2016-10-14 16:38] skokovsergey opened #146 "Not able to handle data extracted from MongoDb"
Example:

[code]

[2016-10-14 17:28] knownasilya commented on #146
Using the function form of `value` hee should help. https://github.com/zemirco/json2csv#example-fields-option

[2016-10-14 17:56] skokovsergey commented on #146
I'm trying to use it as command line utility to convert data from one format to another. So, it's easy to define this functions in the utility. Otherwise i have to just remove functions from source file. But it's extra step.

[2016-10-14 19:51] knownasilya commented on #146
You could just define your fields and leave out the troublesome ones.

[2016-10-17 15:20] monicasenapati opened #147 "Run using python and convert nested json to csv"
Hi, I want to know how to use Json2Csv for Python.
Also, I have a nested json of tweets. I wish to rename the columns while converting it to csv. Again I am trying to get the retweeted tweets into the same column as the main tweets. But it shows only 0 or 1.

[2016-10-17 15:27] knownasilya commented on #147
See this comment for usage with python https://github.com/zemirco/json2csv/issues/145#issuecomment-250990585

[2016-10-17 15:32] monicasenapati opened #148 "Change name of column when converting to csv"
How to change the name of column while converting from json to csv? Like we do in SQL "select column1 as column2".

[2016-10-17 15:52] #147 closed

[2016-10-17 15:53] knownasilya commented on #148
Currently it's not supported via the CLI, which is how you'd be using it if using python.
Would you like this to be a feature request?

[2016-10-17 15:55] monicasenapati commented on #148
I am using it via Scala. I was thinking to transition to Python. But yes I would like to have it as a feature in future.

But Can you tell me if we can join two csv files if the column names are same?

Thanks & regards,

Monica

________________________________
From: Ilya Radchenko <notifications@github.com>
Sent: 17 October 2016 09:53:34
To: zemirco/json2csv
Cc: Senapati, Monica (UMKC-Student); A

[2016-10-17 16:01] knownasilya commented on #148
I did post a link in the issue you created last week via using it with Scala, see #145.

For appending to an existing csv see the readme here https://github.com/zemirco/json2csv#appending-to-existing-csv

[2016-10-24 18:22] monicasenapati opened #149 "Data trimmed issue"
When I change a json file to csv, in one of the columns, the integer gets rounded up.
For example,an ID 740245381351497730 is displayed as 740245381351497700. Is there any work around this problem?

[2016-10-24 18:35] knownasilya commented on #149
We don't do anything to round any values, it must be somewhere else. If you can create a reproduction, i.e. a failing test, I can help look into any issues.

[2016-10-24 20:31] korialis opened #150 "Possible data loss when using unwindPath"
I'm using your lib to generate a csv file out of a mongoosejs query result, when using `unwindPath` I noticed the loss of some of the rows (giving me less rows then the not unwinded one, even if some rows have arrays with multiple entries), eliminating the `unwindPath` option all the rows are displayed as expected.

Have you any idea where the problem might be?

[2016-10-24 20:38] knownasilya commented on #150
Think you could try replicate your issue as a test? Use https://github.com/zemirco/json2csv/blob/master/test/index.js#L595 as an example.

[2016-10-24 21:07] korialis commented on #150
tomorrow I'll try and see what I can do

[2016-10-24 21:16] korialis commented on #150
meanwhile, better inspecting my data I noticed that all the missing rows have the array field defined but empty (e.g `path1 : [ ]` )...looking at the unwinding code it's clear that any of such rows could never be included in the result (or am I wrong?), is it a desired behaviour? Couldn't the guard `(Array.isArray(unwindArray))` be modified into `(Array.isArray(unwindArray) && unwindArray.lenght !

[2016-10-24 21:52] knownasilya commented on #150
I don't think so. A change like that would be acceptable I think.

[2016-10-24 22:05] korialis commented on #150
Sorry if I'm still a bit newbie cohoperating on opensource projects, should I fork and make a pull request?

[2016-10-24 22:41] knownasilya commented on #150
I'll handle it, and let you know when it's release.

[2016-10-25 02:18] knownasilya commented on #150
Can you give master a try? `npm install zemirco/json2csv [-g|--save]`

[2016-10-25 07:53] korialis commented on #150
seems to work well!

[2016-10-25 13:29] knownasilya commented on #150
Published as v3.7.1

[2016-10-25 13:29] #150 closed

[2016-10-25 18:31] monicasenapati commented on #149
I am converting Tweets.json to Tweets.csv.

As you can see, the ones in the ID column are rounded up. I was wondering a work around this issue, since I need the exact IDs.

Thanks & regards,

Monica

________________________________
From: Ilya Radchenko <notifications@github.com>
Sent: 24 October 2016 12:35:46
To: zemirco/json2csv
Cc: Senapati, Monica (UMKC-Student); Author
Subject: Re: [zemirco/j

[2016-10-25 18:45] knownasilya commented on #149
Can you post a subset of that data and the commands you ran, so I can test it?

[2016-11-19 16:37] mizunashi-mana opened #152 "Suggest: Move typescript definition to DefinitelyTyped"
Now, TypeScript manage type definitions on [Definitely Typed](https://github.com/DefinitelyTyped/DefinitelyTyped/).
In TypeScript 2, typescript use npm group: https://www.npmjs.com/~types. @types definitions are copied from DefinitelyTyped types-2.0 branch.

TypeScript recommends to manage type defs on package's repository.
However, on DefinitelyTyped, there are some features for keeping type defi

[2016-11-19 17:53] knownasilya commented on #152
Ok with me.

[2016-11-21 21:55] erhhung opened #153 "Command-line pretty option does not work"
The command-line `-p` pretty print option simply does not work.

Say I have this file `in.json`:
[code]

Without pretty print, the output is correct, although the documentation shows the header should not be quoted:
[code]

With the `-p` option, the output is simply wrong:
[code]

This is a simplified example of a much bigger JSON converted to many more columns, but `-p` formats the entire CSV lin

[2016-11-21 23:01] knownasilya commented on #153
Sounds like a regression happened somewhere.

[2016-11-21 23:16] #153 closed

[2016-11-22 16:47] knownasilya commented on #152
How are different versions handled on DefinitelyTyped? For instance if I have a v3.0, what will the users of 2.7 see for types?

[2016-11-22 23:02] mizunashi-mana commented on #152
@knownasilya

Actually, if we use a specific version definition strictly, Definitely Typed have some problems.

Definitely Typed provides different versions management just in case, such as: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/types-2.0/node
However, many TypeScript users have no care of version management for maintenance...

@types increases the type definition version when it

[2016-11-23 01:29] knownasilya commented on #152
Yeah we can close this for now.

[2016-11-23 01:29] #152 closed

[2016-12-01 13:48] diogolmenezes commented on #88
I have the same problem, any solution?

[2016-12-14 11:36] qiusli opened #156 "Issue converting columns with boolean value"
If the values of a particular column are of type boolean, the generated file will have that column with uppercase TRUE or FALSE. I tried to pass lowercase string 'true' or 'false' but still they got converted to uppercase. Any suggestions? Thanks,

[2016-12-14 23:23] qiusli commented on #156
after taking a closer look at the generated file and compare with another csv file which was generated from a Java project I found that the biggest difference is the data feed to microsoft excel, the one generated from json2csv has double quotes around each value while the original data from the other csv does not have double quotes around each of its value, maybe this could cause excel to transla

[2016-12-14 23:30] qiusli commented on #156
after converting boolean value to its string version and set excelString attribute to true solved the problem, but still if the value is boolean, it got translated to all uppercase in excel.

[2016-12-15 16:03] MapleMaster opened #157 "Cannot print callback err, because err is Error object, should use Error.toString()"
function checkParams() will throw an Error object, but console.error(err) only display ```{}```, but no specific meaning, and it confuses the caller.
I suggest use ```callback(err.toString())``` instead of ```callback(err)```, so the caller will get the specific error information.

[2016-12-15 16:05] knownasilya commented on #157
Doesn't seem to be the case:

<img width="644" alt="screen shot 2016-12-15 at 11 04 55 am" src="https://cloud.githubusercontent.com/assets/34726/21231463/5ff8c88c-c2b6-11e6-9826-213718daaaf7.png">

[2016-12-15 16:07] knownasilya commented on #157
Also the callback shouldn't be used, it will be removed in the next major version, just do `var csv = json2csv(options)`.

[2017-01-02 15:21] seenu511-hcl opened #158 "Cannot Write JSON DATA to File"
Hi i tried to write Json data in  the file  but can't able to write it!
i used fs.writteFile(with neccesary parameters);
In the console it is printing that fs.writeFile() is not the function (already imported the dependencies)
instead i can print JSON data  in Console without any error problem is only with fs.writeFile.

kindly help me out in this

[2017-01-02 17:09] knownasilya commented on #158
Give this example  a try https://github.com/zemirco/json2csv#example-1

[2017-01-02 17:18] seenu511-hcl commented on #158
I Have tried the all the seven example but no luck only example 2,3 and 4 does work for me where as 1,2 and 7 same as my requirement doesnt work for me to write a File what may be the root cause for it ?

fs.writFile(); is not a function error in console even though

[2017-01-02 22:34] knownasilya commented on #158
Can you provide your full example code and node version?

Did you require `var fs = require('fs');`?

[2017-01-03 05:47] seenu511-hcl commented on #158
handleexporttocsv(){

var json2csv = require('json2csv');
var fs = require('fs');
var fields = ['car', 'price', 'color'];
var myCars = [
  {
    "car": "Audi",
    "price": 40000,
    "color": "blue"
  }, {
    "car": "BMW",
    "price": 35000,
    "color": "black"
  }, {
    "car": "Porsche",
    "price": 60000,
    "color": "green"
  }
];
var csv = json2csv({ data: myCars, fields: fields });

fs

[2017-01-03 17:05] knownasilya commented on #158
This is a node.js module, not a browser module. It's not supported for browserify because there is no "fs" in the browser.

[2017-01-03 17:05] #158 closed

[2017-01-19 07:23] MapleMaster opened #159 "if fieldNames has '"', ',', the result csv format error"
when I use `"` in fieldNames, it didn't convert `"` to `""`  as the value column did this convert.

like data:` [ { name: 'maple"maple', age: 23 }]` get csv data:` "maple""maple",23`,
but fieldNames: `[ 'name"name', 'age' ]` get csv title: `"name\"name","age"`, not `"name""name","age"`, which will occur excel format error.

PS:
lib/json2csv.js +157:
`str += JSON.stringify(element).replace(/\"/g, p

[2017-01-19 07:47] MapleMaster opened #160 "doubleQuotes Defaults not 3xquotes"
however, `params.doubleQuotes = typeof params.doubleQuotes === 'string' ? params.doubleQuotes : Array(3).join(params.quotes);`, only get `""` 2xquotes (should be `Array(4).join(params.quotes)`)

[2017-01-19 14:09] knownasilya commented on #160
@MapleMaster PR w/ test are welcome 😄

[2017-01-19 14:10] knownasilya commented on #159
PRs welcome 👍

[2017-01-31 23:23] danpe commented on #91
Any news?

[2017-02-01 02:21] knownasilya commented on #91
We probably need an excel flag..

[2017-02-06 11:29] dantavo opened #161 "How export the csv in Angular2"
How Is possible download the produced data to a csv file in Angular2?

[2017-02-06 14:18] knownasilya commented on #161
This module is meant to be used in node, on the server. Check out http://papaparse.com/ for a browser alternative.

[2017-02-06 14:18] #161 closed

[2017-02-06 14:45] dantavo commented on #161
I solved with Rendered library present in @angular/core
Thank you

[2017-02-08 16:08] Neats29 opened #163 "fields only works if it's the same as the property names..."
Thanks for creating this module. I thought that the role of the `fields` option is so that you can give different names to the headings but it doesn't work if the field names don't match the property names. For example:

[code]

Is this the expected behaviour? Seems a bit odd that you wouldn't be able to change the names if there is a `fields` option.

[2017-02-08 17:49] knownasilya commented on #163
You must use the object format of fields, see https://github.com/zemirco/json2csv#example-fields-option

[2017-02-09 11:51] Neats29 commented on #163
@knownasilya that worked, thank you 👍

[2017-02-09 11:51] #163 closed

[2017-02-27 15:18] Yoleop opened #164 "Conflict with excelStrings and quotes options"
Hi,

I have a problem when I want to create a CSV without double quotes and with the format to the Excel style.
If I only set the quotes options with the value '', the result is correct. But if I set the quotes option with the value '' and the excelStrings with the value true, the result is a CSV with Excel style but with double quotes.

[2017-02-28 14:51] marco48 opened #165 "When using fields as object, field names are not used"
In my use case i am using fields as objects and i want to use field names options with them and it does not seem to work properly. It is always taking field.label and not the wanted field name.

Could u please have a look?
Many thanks,
Marc

[2017-02-28 15:13] knownasilya commented on #165
Can you provide the code you are using that gives you this result?

[2017-03-01 09:14] marco48 commented on #165
Sure here is an example which gives this result:

var json2csv = require('json2csv');
var myCars = [
  {"car": "Audi","price": 40000,"color": "blue"},
  {"car": "BMW","price": 35000,"color": "black"},
  {"car": "Porsche","price": 60000,"color": "green"}
];

var myFields= [
	{label: 'car', value: 'car', default:''},
	{label: 'price', value: function(car){return car.price.toFixed(2);},default:0},
	{

[2017-03-01 12:32] knownasilya commented on #165
The field names property is ignored if you use the object form of fields, since label does the same thing.

[2017-03-01 14:52] marco48 commented on #165
Ok thanks

[2017-03-01 15:15] #165 closed

[2017-03-01 18:30] alchemytechsolutions commented on #121
it works for me setting the quotes option to ''. Thanks @Skuriles

[2017-03-17 15:20] lorenzoromani1983 opened #166 "Unexpected token in Twitter Json dump"
Hi, thank you for this great tool...but unfortunately I am not able to run it :(
Infact, i get this error while trying to convert a HUGE (but almost a small) twitter stream:

I call json2csv from the command line:

PS C:\Users\Lorenzo> json2csv -i C:\Users\Lorenzo\Desktop\prova2.json -f created_at,id

I get this:

module.js:590
    throw err;
    ^

SyntaxError: C:\Users\Lorenzo\Desktop\prova2.jso

[2017-03-17 15:23] knownasilya commented on #166
What does the data look like at position 9749?

[2017-03-17 17:27] lorenzoromani1983 commented on #166
I do not know. It is a massive dump of Twitter stream, so it's actually hard to say for me...but I have been trying with many other twitters.json and keeps giving error messages like that. I restricted to just this few tweets but still gives error messages. I am running python 2.7.13 (Anaconda).
Could you try this json for me please?

{"created_at":"Fri Mar 17 09:03:17 +0000 2017","id":84266261468

[2017-03-17 17:48] lorenzoromani1983 commented on #166
this is the complete file. It is
[Uploading tweets.txt…]()

[2017-03-17 18:06] knownasilya commented on #166
The attachment upload didn't finish

[2017-03-17 18:10] lorenzoromani1983 commented on #166
right.... sorry, can u see it now?
[tweets.txt](https://github.com/zemirco/json2csv/files/851401/tweets.txt)

[2017-03-17 18:12] knownasilya commented on #166
What is the command you are running against this?

[2017-03-17 18:12] knownasilya commented on #166
nvm, see it in the top.

[2017-03-17 18:45] knownasilya commented on #166
You have invalid json:

...: "1489741397913"} {	"created_at": "Fr
----------------------^
Expecting 'EOF', '}', ',', ']', got '{'

the objects are not in an array, and there is no comma between each object

[2017-03-17 18:51] lorenzoromani1983 commented on #166
this is weird...it's been streamed directly from Twitter...

[2017-03-17 18:55] knownasilya commented on #166
Sounds like something in your python process doesn't output the data correctly.

[2017-03-17 18:57] lorenzoromani1983 commented on #166
infact with on-line converters it does actually work. Maybe i lost something during python/json2csv installation. As far as I know, the only desktop tool that converts JSONs is 120$ every year

[2017-03-17 19:01] knownasilya commented on #166
How are you streaming the JSON to a file? Have code you can share?

[2017-03-17 19:53] lorenzoromani1983 commented on #166
I am using this:
https://github.com/mdredze/twitter_stream_downloader

[2017-03-17 20:17] knownasilya commented on #166
I think you'll have to submit an issue over there 👍  I'll close this for now, if the issue is resolved in that other project, but you still run into problems, feel free to comment here and I'll reopen.

[2017-03-17 20:17] #166 closed

[2017-03-18 09:38] lorenzoromani1983 commented on #166
Ok. Sorry for bothering, but I believe there must be something wrong in my own python/anaconda/json2csv setup.

This time i am attaching a world bank json file which i have successfully converted to CSV using https://konklone.io/json/ and https://json-csv.com/. I guess that jsonlint.com as a validator does not work as keeps giving the same error even in this new file. Maybe it's a "newer" json fil

[2017-03-18 10:13] lorenzoromani1983 commented on #166
From Twitter developers:
(https://dev.twitter.com/streaming/overview/processing)

"JSON data
The individual messages streamed by this API are JSON encoded. Keep in mind that the attributes of a JSON-encoded object are unordered - do not rely on fields appearing in any given order. Also keep in mind that your JSON parser should tolerate unexpected or missing fields."

So I guess this is it: i need

[2017-03-18 17:18] knownasilya commented on #166
So they return a valid json object, but since you have more then one (rows), it's your job to turn them into an array.

So for each record you get `{ "somekey": "somevalue" }`, which is valid json by itself, but this isn't:

[code]

You need to convert it to:

[code]

[2017-03-18 20:58] lorenzoromani1983 commented on #166
ok, so

2017-03-18 18:18 GMT+01:00 Ilya Radchenko <notifications@github.com>:

[2017-03-18 20:59] lorenzoromani1983 commented on #166
OK, So i should put every tweet i stream from [] ?? thousands :/

2017-03-18 21:58 GMT+01:00 Lorenzo Romani <lorenzoromani@gmail.com>:

[2017-03-21 14:23] vamsyvirureddy opened #167 "fs.writeFile is not a function"
var json2csv = require('json2csv');
          var fs = require('fs');
         var fields = ['rUsoc', 'rOcc', 'rCost'];
        var csv = json2csv({ data: this._response.atnSummary, fields: fields });
        fs.writeFile('file.csv', csv, function(err) {
                if (err) throw err;
                console.log('file saved');
             });

I am using it like this but I am not understandi

[2017-03-21 15:05] knownasilya commented on #167
This module is for node.js, not the browser. `fs` exists only in node, because the browser doesn't expose the file system. For a browser alternative see http://papaparse.com/

[2017-03-21 15:05] #167 closed

[2017-03-31 20:46] pokatomnik commented on #91
I've tested this issue about three weeks ago, the problem still remains. I'll try to fix that.

[2017-04-07 07:42] J-Gea opened #169 "json contains emoji cannot -> csv"
{ list:
   [ { _id: 58e7310bd47f592210be3ef1,
       template: [Object],
       content: '😭laigdb',
       forms: [Object],
       from: [Object],
       apply_date: 2017-04-07T06:26:19.301Z,
       status: 'approved',
       step: null,
       steps: [Object],
       is_processing: false } ] }

hi, there,
i want to transfer "content" that contains an emoji to csv , then throw an error , my json2c

[2017-04-07 07:48] #169 closed

[2017-04-09 18:09] c990802 commented on #88
+1

[2017-04-11 21:04] MurdocMZ opened #170 "Small problem with "Example fields option" in "Readme""
I needed to force the column type so I had to do a code like this:

[code]

The problem is that the example brings problems with the columns with "hyphens" and it takes me time to find the error.

Currently it looks like this:

[code]

I think it should look like this:

[code]

A cordial greeting.

[2017-05-02 23:36] cdaringe opened #172 "invalid version in published tarball"
# problem statement

[tarball@3.7.3](https://registry.yarnpkg.com/json2csv/-/json2csv-3.7.3.tgz#dacfdfa7fb0c1b1b163868dc75f3902d023354ec) has version 3.7.4 in the version field.

this creates some issues with dep management.  not sure if one of the devs did a manual push?

# discussion

can we bump a version to get us to `3.7.5`?

[2017-05-08 10:47] balexandre commented on #88
+1

the same issue...
from this code:

[code]

what I found out was that, writing to a `.xls` file, it opens the with weird chars when opening the file directly in Excel, you would need to import data to actually see the special chars.

if I change to `fs.writeFileSync(filename + ".txt", csv);` it writes the special chars and as it's a text file, you ca no longer open directly in Excel ...

if you

[2017-05-09 05:10] SimonZhangITer opened #173 "json array max length?"
I tried to outputted 10000 datas, but it failed, and get network error when download the file。

Did the json array length limited?

or how can I resolve this problem?

Thanks!
![image](https://cloud.githubusercontent.com/assets/20501873/25836315/4b7670fc-34b8-11e7-9bdf-4ad75ac84e03.png)

[2017-05-09 13:21] udleinati commented on #138
import json2csv from 'json2csv/lib/json2csv';
var fields = ['field1', 'field2', 'field3'];
var data = { field1: 'a', field2: 'b', field3: 'c' };
console.log(json2csv({ data: data, fields: fields }));

[2017-05-23 08:02] apat183 opened #174 "unwindPath only accepts one field"
More of a questions then issue, does unwindPath option only accept one field?

I've tried to put an array and string array into option but doesn't unwind fields. If I only put one field in then it works. Any idea how you can unwind multiple fields?

Thanks

[2017-05-23 11:52] knownasilya commented on #174
Confirmed, it only takes one argument. You could implement your own unwind and pass the resulting data to this module.

We also accept pull requests 👍

[2017-05-23 20:54] apat183 commented on #174
Thanks for confirmation, since I'm passing results from MongoDB it will be easier to unwind myself and pass through.

[2017-05-23 20:54] #174 closed

[2017-05-24 13:23] pmvrmc opened #175 "Don't flat ObjectId's"
Hello community,

What do you think about including and extra flag so that flatten won't flat an object if it is an ObjectId (from mongo)?

I'm having this issue where I pass a ObjectId to the csv export and it flattens it into smaller fields: _bsontype and id (with incomprehensible characters).

If you agree with this I can go forward and create the PR for it.

[2017-05-24 14:00] knownasilya commented on #175
Sounds reasonable, go for it.

[2017-05-25 19:57] billyxs opened #176 "Handling leading zeros for excel"
Is there a way to handle formatting for leading zeros in the manner outlined here
https://stackoverflow.com/a/814194

Tried to find documentation that would allow this, but it wasn't clear if this is supported

[2017-05-25 20:06] knownasilya commented on #176
It's not supported, but pull requests are welcome.

[2017-06-07 05:43] zolfj opened #177 "How can I export as csv file??"
Hello there,

I am using your library to generate csv for export and my code looks like so,
    var opts = {
      data: this.data,
      fields: fields,
      quotes: '',
      hasCSVColumnTitle: false
    };
    json2csv(opts, function (err, csv) {
      if (err) console.log(err);
      console.log(csv);
    });`

How can I expor this to a csv file. Please help!!

[2017-06-07 13:28] knownasilya commented on #177
The first example shows you how https://github.com/zemirco/json2csv#example-1

[2017-06-07 13:35] zolfj commented on #177
Thanks for your comments. But when i try to use that fs.writefile and dalling this var fs = require('fs'); in my Angular 2 application, it complains about writeFile. Can you please guide me. I am using this in my angular 2 class.

[2017-06-07 13:41] knownasilya commented on #177
This module is for node.js only (server side). Maybe try out http://papaparse.com/ with something like https://stackoverflow.com/a/14966131/483616

[2017-06-07 13:41] #177 closed

[2017-06-13 17:25] mkopinsky commented on #91
This feature is working for me. At least on Mac (I haven't tested on PC), I need to use a \r rather than \n for Excel to recognize it as a newline within a cell.

What is the plan in terms of when this will be released via npm? I see that this issue is tagged as "needs tests" - I can try to take a crack at that if someone points me in the right direction.

[2017-06-13 17:40] knownasilya commented on #91
@mkopinsky did https://github.com/zemirco/json2csv/pull/171 work for you? If so, I can cut a release today.

[2017-06-13 17:53] mkopinsky commented on #91
Yes. I am working through https://github.com/punkave/albedo, and a SQL query like {{SELECT 'a\rb' UNION SELECT 'c\rd'}} is generating a CSV file which opens in Excel with the two data cells with line breaks in them.

[2017-06-15 11:58] Shavindra opened #179 "Output file format"
When I run the `translation-export` task output file I get is .json not .csv? how can I ouput .csv?

[code]

[2017-06-15 12:37] knownasilya commented on #179
That dependency does not use json2csv, see https://github.com/airwave-development/gulp-csv-to-json

[2017-06-15 12:41] knownasilya commented on #179
I don't think that module works because this module doesn't handle streams. We have an alternate (less maintained) version that does and that module should be using it. https://github.com/zemirco/json2csv-stream

If it doesn't use streams, then there is some issue with that module, see https://github.com/vajahath/gulp-json2csv and file an issue there.

[2017-06-15 12:41] #179 closed

[2017-07-03 13:06] mkopinsky commented on #91
Hey @knownasilya can you cut that release? Or, is there any other testing I can do that would help?

[2017-07-03 13:22] knownasilya commented on #91
v3.8.0 has been released

[2017-07-03 13:22] #91 closed

[2017-07-03 13:39] mkopinsky commented on #91
Awesome, thanks!!

[2017-07-03 21:59] tux240 opened #182 "Create csv file with utf8 encoding"
Hi,

How can I specify an UTF-8 encoding with this plugin ?

thanks

[2017-07-03 23:41] eduardomourar commented on #174
Guys, I was looking for this exact functionality. If I had this JSON as an example:
[code]

I wanted to have following output CSV:
[code]
I can submit a PR, if everyone agrees with these changes to parameters:
[code]

[2017-07-06 11:00] apat183 commented on #174
Hi ended up unwinding in mongodb first then passing the results but would love to have it in json2csv as well but it's up to the moderators to agree on parameters etc.

[2017-07-10 11:41] eduardomourar commented on #174
I simplified a little bit the parameters and created a pull request for that.

[2017-07-11 15:57] ssobolev opened #184 "Escaped quotes (\") are not escaped properly (\"")"
Trying to export a CSV containing large amount of source code, I discovered that text, containing escaped quotes '\"' is not converted into CSV properly, but stored "as-is".

**Code example:**
[code]

**Output:**
[code]

**Expected:**
[code]

[2017-07-13 19:33] smcguinness opened #185 "'yarn add json2csv' installs 3.9.1"
## Include the command or code you used.

or

## Include your output/error.
Yarn installed package.json in node_modules
[code]
NPM installed package.json in node_modules
[code]

[2017-07-14 01:03] knownasilya commented on #185
Sounds like a big in yarn..

[2017-07-14 17:42] smcguinness commented on #185
I posted the issue to Yarn https://github.com/yarnpkg/yarn/issues/3935 and they pointed out that the package in Yarn actually references 3.9.1 in the published [package.json](https://unpkg.com/json2csv@3.9.0/package.json).

I'm not sure how Yarn got that, whether it was a bug in them grabbing the NPM package, or with this package being published to Yarn having that reference.

I'd like to help res

[2017-07-14 18:26] knownasilya commented on #185
Looks like something happened in the prepublish script, and npm didn't catch it as a bug. I published an actual 3.9.1.

[2017-07-14 18:26] #185 closed

[2017-07-18 18:41] AuroreM opened #186 "No BOM character at the beginning of the csv"
I used this library to create csv then opened with Excel and I encountered some issue with special characters :
![image](https://user-images.githubusercontent.com/15011364/28333775-56af7ec8-6bf9-11e7-855f-ec60e70dad65.png)

I found that I had to add the BOM character U+FEFF at the beginning of the CSV string.
I've got a branch ready for a pull request to add a --with-BOM option :

![image](https:/

[2017-07-18 18:48] 4ian commented on #186
(It's my first contribution to an open source repo :))

An easy way with GitHub to submit pull requests is to Fork the repository:

![image](https://user-images.githubusercontent.com/1280130/28334067-3703bc14-6bfa-11e7-99fa-10e04059f79f.png)

You'll have a fork for your username (`https://github.com/AuroreM/json2csv`). Then `git clone` your fork and do the changes in it (or add `https://github.com

[2017-07-18 19:06] AuroreM commented on #186
Thanks @4ian, the Pull Request is opened : https://github.com/zemirco/json2csv/pull/187 :)

[2017-07-18 20:18] knownasilya commented on #186
Ah, missed this issue. Thanks for catching this.

[2017-07-18 20:19] #186 closed

[2017-07-26 08:09] daniel-zahariev commented on #182
Hi @tux240, just add `withBOM: true` to the parameters and you're all set to generate UTF-8 CSV files

[2017-07-26 08:18] daniel-zahariev opened #190 "Extra space character is added when using withBOM: true"
When [adding BOM](https://github.com/zemirco/json2csv/blob/master/lib/json2csv.js#L299) to the CSV output there's an extra space character. This makes Excel show the first cell with quotes.

### Code sample
[code]

### CSV output
[code]

[2017-07-28 13:07] knownasilya commented on #190
Would the fix be as simple as removing the space on that line? Or would that break the BOM?

[2017-07-30 13:59] enver commented on #101
Using `fields.value` function does not solve problem, because if you convert floating point number to string with comma as a decimal point you end up with quotes around number within csv file.

This issue can be fixed in two ways:
a) stringify numbers with toLocaleString() function instead of JSON.stringify
b) do not stringify values when using `fields.value` functions. If needed users should quot

[2017-07-30 14:09] knownasilya commented on #101
I think b might be the better option. It gives more power to the user.

[2017-07-31 05:06] daniel-zahariev commented on #190
@knownasilya removing the space won't break the BOM and it's as simple as just deleting it from this string.

[2017-07-31 12:22] knownasilya commented on #190
I guess the question is, why was it not caught in the test, https://github.com/zemirco/json2csv/blob/master/test/index.js#L720

Feel free to submit a PR with modified test

[2017-08-01 08:49] niftylettuce commented on #75
We should re-open this @knownasilya since Promises are standard now, and frameworks such as Koa use it out of the box with async/await.

[2017-08-01 08:50] niftylettuce commented on #75
In the meanwhile if anyone wants to do this:

[code]

[2017-08-02 12:31] christianhaller commented on #75
@niftylettuce super solution!

[2017-08-02 12:39] knownasilya commented on #75
This library is sync, no promises necessary.

[2017-08-11 13:28] #172 closed

[2017-08-11 13:28] knownasilya commented on #172
Published multiple versions after, please update to the latest.

[2017-08-11 13:30] knownasilya commented on #170
The example is correct, but you might need to use the other method if you have spaces in your path names. I think the example is fine since we assume a certain amount of JS knowledge to use modules.

[2017-08-11 13:30] #170 closed

[2017-08-13 14:30] nusu commented on #182
@daniel-zahariev I tried it yet it doesn't work
<img width="1078" alt="screen shot 2017-08-13 at 17 29 18" src="https://user-images.githubusercontent.com/1702215/29250561-fb71956a-804c-11e7-8067-b6cec4fab8d6.png">
<img width="584" alt="screen shot 2017-08-13 at 17 30 01" src="https://user-images.githubusercontent.com/1702215/29250569-13345be2-804d-11e7-8740-3bea9d462b4e.png">

form.submissions is

[2017-08-13 17:26] knownasilya commented on #182
Did you try the `excelStrings: true` option?

[2017-09-05 23:43] kodybrand opened #195 "Separate `quote` config for headers and cells"
The CSV output is putting double quotes around the column titles.

`var csv = json2csv({ data: myCars, fields: fields });`

is producing the correct output, but with double quotes around the column titles.

`"car","price","color"`
`"Audi",40000,"blue"`
`"BMW",35000,"black"`
`"Porsche",60000,"green"`

[2017-09-06 13:11] knownasilya commented on #195
This protects against cases when someone puts the delimiter into the column name.

[2017-09-06 13:31] kodybrand commented on #195
Is there a way to disable this from happening?

[2017-09-06 15:30] knownasilya commented on #195
Not at the moment? What issue is being caused by this?

[2017-09-06 15:35] kodybrand commented on #195
The software I am importing the CSV file into does not recognize the title columns when they are wrapped in quotes. I figured out a work around, but it would be useful if I could just pass in a parameter which would not wrap the titles in quotes.

[2017-09-06 16:26] knownasilya commented on #195
I'd be willing to merge a PR with a feature like that, preferably with tests 👍  you can add it here https://github.com/zemirco/json2csv/blob/master/lib/json2csv.js#L169

[2017-09-11 09:13] juanjoDiaz commented on #175
That pull request to the flat library should fix this issue if it get's accepted.

I'll submit shortly a PR to json2csv with the necessary change in this library.

[2017-09-11 19:24] juanjoDiaz commented on #175
Btw, in the meantime, what I currently do is `json2csv(JSON.parse(JSON.stringify(myObject)))`
A bit hackish but do the job...

[2017-09-17 18:29] pocesar opened #197 "Add meta support?"
I'm trying to dyamically export a CSV to an S3 depending on the columns the user picks. I have a few nested objects, and arrays, and I'm having a hard time to use it with `flatten`. basically I'm doing this:

[code]

the problem is that I have some paths that turns out as `phone.0.value` or `documents.1.type`, and since it's dynamic (some rows doesn't have all the information), I'm having a hard t

[2017-09-19 08:42] pocesar commented on #197
no other way around, I couldn't know how many would be, so I'm having to count them before hand

[2017-09-19 08:42] #197 closed

[2017-09-21 12:00] ManuelTS opened #199 "No Headers Option in Available Options"
The [Available Options](https://github.com/zemirco/json2csv#available-options) miss an _write no headers_ option as in the [Command Line Interface](https://github.com/zemirco/json2csv#command-line-interface):
`-n, --no-header              Disable the column name header`.

[2017-09-21 12:35] knownasilya commented on #199
It's there, just called `hasCSVColumnTitle`.

[2017-09-21 12:35] #199 closed

[2017-09-21 14:49] ManuelTS commented on #199
Sorry my bad, but a better consistent name as in the command line interface would be highly appreciated.

[2017-09-21 16:05] knownasilya commented on #199
Agreed, but that will have to wait for the next major release. Unfortunately, it was before I joined this project.

[2017-09-21 16:13] knownasilya opened #200 "Deprecate hasCSVColumnTitle"
The CLI uses `--no-header` we should keep the library consistent so the header is on by default, and the naming is similar. `noHeader: true`.

[2017-10-04 13:53] Sanjaygpatel commented on #182
I set both param excelStrings: true and withBOM: true and it's working with umlauts char.

[2017-10-09 14:44] rodogu opened #202 "'\\' in value not escaped properly"
I noticed that if the value has something like`"cheese \\"`, it gets convert as `"cheese ""` in the csv, which breaks the formatting.

For example:

[code]

will generate this
[code]

[2017-10-12 09:41] moenth opened #203 "Line delimited JSON doesn't work as CLI input file"
An error occurs when providing a line delimited JSON file as input to the CLI application. This is because the file is being imported with `require`, which will only work with a valid JSON document. As a workaround, piping the data through stdin works as expected.

[code]

[2017-10-16 23:48] pranshu1992 commented on #121
@knownasilya any update on this issue. I have the same problem

[2017-10-17 00:02] pranshu1992 commented on #121
is there a way no to give any quotes ?? Not single or double quotes. The reason I want that is I so that I can store objects in a column with key-value pairs and they are in {"key ": "value"}. I tried  quotes: '' doesn't help as the output is '{key:value}'

[2017-10-17 22:09] pranshu1992 commented on #121
Ok. this is how I handled it. give doubleQuotes first and then give quotes.
 var result = json2csv({ data: jsonMessages, fields: fields, doubleQuotes:'"', quotes: '', del: '\t' });

[2017-10-19 13:14] chriszrc commented on #138
That didn't work for me, I got:

`json2csv_1.default is not a function`

This did however:

`import * as json2csv  from 'json2csv';`

[2017-10-19 13:45] spaceywolfi opened #205 "problem with rendering negative numbers"
Inside a flex object the minus sign of negative values are rendered in currenctly:
intead of '-9' it renders '9      -'

![download](https://user-images.githubusercontent.com/31371807/31773924-862e8a16-b4e4-11e7-94c3-32baf6e01a7a.png)

[2017-10-19 13:47] spaceywolfi commented on #205
sorry i am in a completley wrong repository

[2017-10-19 13:47] #205 closed

[2017-10-23 04:45] alziqziq opened #206 "not working using Sequelize"
var fields = ['car', 'price'];

User.all().then((response) => {
            var data = json2csv({data : response, fields : fields});
            console.log(data);
            // Output data :
            // "car","price"
            //,
            //,
});

whats wrong?

[2017-10-23 08:34] AyushG3112 opened #207 "Make Column Headers bold"
Is it possible to output column headers in bold during the export?

[2017-10-23 13:47] knownasilya commented on #206
The response is probably not what you think it is. Put a console log there and paste the result here.

[2017-10-23 13:47] knownasilya commented on #207
Bold in Excel or the terminal?

[2017-10-23 13:48] AyushG3112 commented on #207
The exported file(csv)

[2017-10-23 13:50] knownasilya commented on #207
CSVs do not support styling the content.

[2017-10-23 13:50] #207 closed

[2017-10-23 13:57] AyushG3112 commented on #207
What about all caps then? As an option I mean

[2017-10-23 14:28] knownasilya commented on #207
You can set the headers to be anything, see the `label` option here https://github.com/zemirco/json2csv#example-fields-option

[2017-10-24 00:34] alziqziq commented on #206
the problem is because the column name is different from the database.

how do I custom the column names?

[2017-10-24 01:21] knownasilya commented on #206
See the documentation for the fields parameter here https://github.com/zemirco/json2csv/blob/master/README.md#example-fields-option

[2017-11-02 01:02] #206 closed

[2017-11-06 07:27] shahzeb1 opened #208 "General question: Is there any way to self detect fields?"
For instance, provide it with a JSON object, and it will self-detect what the fields need to be (regardless of how nested or strange the valid JSON is). Something like is done [in this package](https://github.com/mrodrig/json-2-csv/wiki/json2csv-Documentation).

[2017-11-06 16:40] knownasilya commented on #208
It works like that currently, just pass data and no `field` options, but it will only handle top-level attributes. I'd merge a pull request that expanded that to all attributes by first flattening the object.

[2017-11-06 22:33] shahzeb1 commented on #208
OK noted, I don't think it would be that hard to make it so that it recursively keeps track of non top-level JSON objects.

Will look into this.

[2017-11-07 10:13] anlexN opened #209 "Be able to select a specific field from JSON object input as input array"
i have `test.json`:
[code]
i want to make a csv like this:
[code]
because i want to import my contacts to gmail !

Otherwise, i want to ask how to export repo contributors' name and email?
![default](https://user-images.githubusercontent.com/8686739/32488326-3951b6de-c3e7-11e7-9751-4a9a31f7e5cb.PNG)

[2017-11-15 11:28] QuantumInformation commented on #152
I don't see the point of moving the defs if they are part of the Lib.

[2017-11-15 11:32] QuantumInformation commented on #138
what is the import for json2csv

![image](https://user-images.githubusercontent.com/216566/32833993-b3d856da-c9f8-11e7-8149-e7078fd80d72.png)

[2017-11-15 11:46] QuantumInformation commented on #152
If this lib was converted to ts, the types can be generated automatically.

[2017-11-15 12:01] QuantumInformation commented on #112
Has anyone been able to use this with TS? Would be great to add a section in the docs for ts for a minimal example.

[2017-11-15 14:51] knownasilya commented on #112
Feel free to pioneer this, and I'll review your PR.

[2017-11-15 14:52] QuantumInformation commented on #112
I found a stopgap,but not using this repo, atm I'm snowed under with work

[2017-11-16 11:21] jagadeeesh opened #210 "Exporting multiple sheets"
Hi,
Can I export multiple sheets as one single file?

[2017-11-16 13:13] knownasilya commented on #210
No, that would be an invalid CSV. Although if you do want to do this, you can manually combine them using the module for of this addon, which leaves creating the file up to you.

[2017-11-16 13:13] #210 closed

[2017-11-17 05:57] jagadeeesh commented on #210
Thanks.

[2017-11-26 08:48] joantune opened #211 "Support for JSON Path, or wildcards"
I like your library, it's very handy, however I think it can be even handier by supporting Wildcards and/or the full JsonPath (http://goessner.net/articles/JsonPath/)  (might be harder, or easier depending, but there should be libs out there that help)

Let's imagine our data is something like:

[code]

it would be great to allow to extract things with a fields like:
[code]
Until then I'll use the

[2017-12-09 22:26] azor-orbz commented on #200
Hi,

What is due date for this? I am pretty new in GitHub and node.js and I was thinking that I could start contributing somwehre and this Project/package seems to be a good one.

And also this task looks like something I can handle :)

Thank you

[2017-12-09 22:53] knownasilya commented on #200
Feel free to start a pull request at your convenience. I'll guide you through it if you need.

[2017-12-11 12:05] azor-orbz commented on #200
Hi thank you so much,
I hope it does not have a short deadline, because for me it is more about to stanrd understand how to set-up webstorm to be able to easily test etc.  The code change does not seems to be big :) (and that is why I try to start with this)
Vaclav

[2017-12-14 07:15] cag2050 opened #212 "Can json2csv export Excel files with .xlsx extension？"
Can json2csv export Excel files with .xlsx extension？

[2017-12-14 10:16] yellowiscool commented on #87
Same issue here with a 7GB jsonl file. I'm looking for a command line tool supporting jsonl.

[2017-12-14 16:58] michael-ts opened #213 "Doesn't properly handle leading +/- characters"
[code]

When I read this into Excel it gives me "#NAME?", because it should be e.g. `="+Joe"`.  Note that we can't treat the first column this way or Excel will treat the comma as a separator.

[2017-12-14 17:05] knownasilya commented on #213
Have you tried setting the `excelStrings: true` property? Described here https://github.com/zemirco/json2csv#available-options

[2017-12-14 17:10] michael-ts commented on #213
@knownasilya That works, thanks!

[2017-12-14 17:10] #213 closed

[2017-12-15 08:35] cag2050 commented on #212
I have exported .xlsx file by js-xlsx, demo:https://github.com/cag2050/vue_tables_xlsx_demo

[2017-12-15 08:35] #212 closed

[2017-12-29 13:37] tbiinfotech opened #214 "Split text line in one cell"
I am using json2csv version ^3.11.2 , I have installed this using npm on my node js+angular2 application.
I am able to get csv but the issue is unable to split the text in a cell or column if words are more.

I have checked the other issues on same repo [#91](https://github.com/zemirco/json2csv/issues/91) but it is not helpful.

But neither \n nor \\n nor \r is working. Can anyone please let me kn

[2018-01-15 20:44] utillity opened #215 "Serializing object containing a ctor function causes crash"
I am trying to serialize a list of objects, which contain the constructor to a sub-object for internal reasons in an attribute `_cfgType`.

    class LensValuedSettingArgs {}
    ...
    FocusPos = new LensValuedSetting({ _cfgType:LensValuedSettingArgs, ... })

this causes a runtime error, as this property cannot be serialized.

    TypeError: Cannot read property 'replace' of undefined
      at n

[2018-01-18 19:25] #200 closed

[2018-01-18 19:28] knownasilya commented on #142
@juanjoDiaz if you are interested in doing the second option as well.

[2018-01-18 20:23] juanjoDiaz commented on #142
Any reason to use stream instead of promises?

[2018-01-18 21:05] juanjoDiaz commented on #142
Nevermind, I see the point. It parses lines one by one and you can even track progress.

I might take a look at it :)

[2018-01-18 21:13] juanjoDiaz commented on #190
Any reason why this is still open?

[2018-01-19 02:06] knownasilya commented on #190
Good catch

[2018-01-19 02:06] #190 closed

[2018-01-19 10:14] juanjoDiaz opened #218 "What's the difference between `eol` and `newLine`?"
Just a question: What's the different between the `eol` and `newLine` options?
Could they be combined?

[2018-01-19 13:10] knownasilya commented on #218
I think so. We'd want to keep the default behavior of `newLine`, but unsure which name is more clear.

[2018-01-20 09:56] juanjoDiaz commented on #208
Doesn't flatten solve this issues?
Is there anything else that needs to be done?

[2018-01-20 10:17] juanjoDiaz commented on #184
Just tested this with the latest version and it works. So this can be closed.

[2018-01-20 14:07] juanjoDiaz commented on #124
The original issue reported by @hongeric101 is fixed in the last version.

The output is as expected:
[code]

The issue reported by @panshul007 is not an issue. By default json2csv replaces `"` by `""`. However, that's configurable using the `doubleQuote` parameter. For example:
[code]
will output
[code]

So this can be closed.

[2018-01-20 14:11] juanjoDiaz commented on #129
The output in the latest version of json2csv is:
[code]
as expected, so this can be closed.

[2018-01-20 14:15] juanjoDiaz commented on #202
The latest version of json2csv prints:
[code]
as expected.
So this can be closed.

[2018-01-20 14:49] ssobolev commented on #184
Yes, confirmed.

[2018-01-20 14:49] #184 closed

[2018-01-20 15:31] juanjoDiaz commented on #176
The latest version of json2csv already does exactly as explained in https://stackoverflow.com/a/814194 so this can be closed.

[2018-01-20 16:12] #218 closed

[2018-01-20 16:16] #203 closed

[2018-01-20 16:18] #176 closed

[2018-01-20 16:19] #202 closed

[2018-01-20 16:19] #129 closed

[2018-01-20 16:20] #124 closed

[2018-01-20 16:21] knownasilya commented on #142
@zemirco could you add @juanjoDiaz as a collaborator? Thanks!

[2018-01-21 19:59] #215 closed

[2018-01-23 14:34] muditjuneja opened #229 "Is there any way to unwind array of objects?"
I have a json like
`{
                    "order": 357,
                    "title": "Do you know about organic farming?",
                    "hint": "",
                    "input_type": "3",
                    "pattern": "",
                    "min": null,
                    "max": null,
                    "constant": "",
                    "editable": false,
                    "resource_

[2018-01-23 15:36] juanjoDiaz commented on #229
I guess you need a combination of unwind and flatten. It's not supported currently but it will be part of the next version.

[2018-01-23 22:39] knownasilya commented on #142
I've pushed up changes to remove callback support.

[2018-01-24 10:52] zemirco commented on #142
done

![screenshot from 2018-01-24 11-52-23](https://user-images.githubusercontent.com/1132354/35328561-11ec106e-00fd-11e8-91c9-0f46202b60f3.png)

[2018-01-24 15:55] knownasilya commented on #142
Thanks! @zemirco could you add him in Github as well?

[2018-01-24 16:03] zemirco commented on #142
done

![screenshot from 2018-01-24 17-03-08](https://user-images.githubusercontent.com/1132354/35342500-824f6b6e-0128-11e8-8799-9bf4a371b769.png)

[2018-01-24 16:27] juanjoDiaz commented on #142
Awesome! Thanks guys. Glad to be helpful :)

[2018-01-27 03:41] juanjoDiaz opened #234 "Why are we using webpack?"
Hi guys,

Currently we use webpack to package the application. What are we using that for?
Does the release contains the packaged application?

[2018-01-27 17:03] knownasilya commented on #234
https://github.com/zemirco/json2csv/pull/136

[2018-01-27 19:24] #234 closed

[2018-01-27 21:09] juanjoDiaz commented on #142
@zemirco Where did you take the RegExp in https://github.com/zemirco/json2csv-stream/blob/master/index.js#L78 from?

It doesn't seem to work:
[code]

Currently that's my only blocker for adding the streaming API to this project.

[2018-01-28 01:43] knownasilya commented on #142
What about using https://www.npmjs.com/package/JSONStream

[2018-01-28 17:45] juanjoDiaz commented on #142
I've looked into that one, and also into `JSONparse` which `JSONStream` uses under the hood.
The problem is that both actually caches the whole JSON in memory while processing it which totally defeats the purpose of having a streaming api imho....

[2018-01-28 18:33] knownasilya commented on #142
Wow I didn't know that.  Good catch.

[2018-01-28 20:32] juanjoDiaz commented on #142
But no problem. I dug into the library and learn how to override it's behaviour to don't do that. You'll see. :)

[2018-01-29 19:01] knownasilya commented on #142
Streaming api added by #235

[2018-01-29 19:01] #142 closed

[2018-01-29 19:16] juanjoDiaz opened #236 "Add TypeScript declarations to DefinitelyTyped"
Currently the TypeScript declaration file is outdated and needs to be fixed to include all the new classes and APIs

[2018-01-29 19:17] juanjoDiaz opened #237 "Review Readme and docs"
Review Readme and docs to ensure that they are consistent, complete and simple

[2018-01-29 19:22] juanjoDiaz opened #238 "Ensure that Pretty print doesn't need the entire CSV in memory"
In 4.0 the CLI will process the conversion as a stream.

Using the pretty option uses `cli-table` which requires the entire csv to be stored in memory before it can be parsed.

It should be replaced by a cli table formatter that's streamable.

[2018-01-29 19:25] juanjoDiaz opened #239 "Reorganize tests"
Currently all the tests are on the same file.
This is because tape doesn't work well with multiple files.

Tests would be more maintainable if we could split them in multiple files and group them as you would do using `mocha` or similar test frameworks.

[2018-01-29 19:40] juanjoDiaz commented on #238
Also, CLI-table is unmaintained based on https://github.com/Automattic/cli-table/issues/91

[2018-01-29 19:49] juanjoDiaz commented on #238
Also the solution might not be to replace the library but to add some logic so it it's printed as data comes instead of waiting until the end.

[2018-01-30 01:31] knownasilya commented on #239
Tape works fine with multiple files. But yes I agree it's time to split them up

[2018-02-02 20:48] juanjoDiaz commented on #209
I think that getting specific fields of a JSON is out of json2CSV scope.
I'd suggest that you use some JSON parser like [jQ](https://stedolan.github.io/jq/) or similar to get the array and then pass it to `json2csv`

[2018-02-02 20:52] juanjoDiaz commented on #173
If you get a network error it sounds like something unrelated to this library.
Did you ever fix this?
Maybe you were running out of memory?

Btw, the next release will include a streaming API much better suited for large JSON.

[2018-02-02 21:04] juanjoDiaz commented on #164
Can you elaborate a bit more on the issue?

What is the result you are getting and what would you expect?

[2018-02-02 21:05] #160 closed

[2018-02-02 21:06] juanjoDiaz commented on #157
Closing this since the callback is going away on the next release.

[2018-02-02 21:06] #157 closed

[2018-02-02 22:16] juanjoDiaz commented on #146
Is this still an issue?
Can you elaborate on some steps to reproduce it?

[2018-02-02 22:20] #159 closed

[2018-02-02 22:33] juanjoDiaz commented on #121
I just tried the example above with the latest code (not released yet):
And with `quote: ''` I get:
[code]
 and without it I get:
[code]

Is that correct? Is there anything I'm missing here?

[2018-02-02 22:36] juanjoDiaz commented on #63
Isn't this just a subset of #57 since it only affects the CLI?

Also, now that we use the standard path library to resolve paths I'm not sure of how relevant this is.

[2018-02-02 22:38] juanjoDiaz commented on #208
I'd assume that the flatten option fixes this. Please feel free to reopen it if that's not the case.

[2018-02-02 22:38] #208 closed

[2018-02-02 22:44] juanjoDiaz commented on #156
I just tested this and it seems to work fine for me.
The casing is never changed.`true` and `false` are always lowercase

Using the `quote: ''` option you can get a CSV without quotes around the cells.
Similarly, using the `excelString: true` option.
Neither of those options would affect the boolean values since they are not strings.

It might be that excel just display boolean values in uppercase

[2018-02-02 22:44] #156 closed

[2018-02-02 22:46] juanjoDiaz commented on #214
Can you send an example data and config to reproduce this issue?

[2018-02-02 23:16] juanjoDiaz commented on #149
That's not a problem with this library.

`740245381351497730` is larger and the largest safest integer in javascript. (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER)

You can just try the code bellow:
[code]

[2018-02-02 23:16] #149 closed

[2018-02-02 23:50] juanjoDiaz commented on #182
Closing since this seems to be fixed.

Please reopen if there is anything left.

[2018-02-02 23:50] #182 closed

[2018-02-03 01:56] #148 closed

[2018-02-03 02:02] #63 closed

[2018-02-03 23:04] #239 closed

[2018-02-04 00:50] #57 closed

[2018-02-05 02:58] #238 closed

[2018-02-06 02:11] tlhe opened #249 "an array no field how to use it"
eg:[1,2,3,4,'1,2,3,4']

[2018-02-06 02:28] juanjoDiaz commented on #249
Can you clarify what you want to do?

That's not really a CSV. Or would you like to have a 1 column CSV with that data? Doesn't make much sense...

you could just do something like `[1,2,3,4,'1,2,3,4'].reduce((csv, elem) => csv + '\n' + elem, '')`

[2018-02-06 02:32] tlhe commented on #249
an array like ['a','b','c','d,e']
i want use json2csv to get an csv file

[2018-02-06 03:13] udanpe opened #250 "Error: params should include "fields" and/or non-empty "data" array of objects"
copy\paste example and Error..  node 4,6,8 macos
[code]

[2018-02-06 03:21] juanjoDiaz commented on #249
What would you expect from ['a','b','c','d,e']?

What should be the header? And what should be in each row?

[2018-02-06 03:23] tlhe commented on #249
no header and each row is  ['a','b','c','d,e']
and i want to get  a,b,c,'d,e' in csv

[2018-02-06 03:34] juanjoDiaz commented on #250
The documentation in Github is for the next release, 4.0, which will introduce a lot of changes and goodness.

For the current release, you should follow the instructions in [npm](https://www.npmjs.com/package/json2csv).

The main change is that instead of `const csv = json2csv(myCars, { fields });` you should do `const csv = json2csv({ data: myCars, fields });`

[2018-02-06 04:33] juanjoDiaz commented on #250
@udanpe please confirm if that was your issue.

[2018-02-06 04:58] shierro commented on #250
just used the library & `const csv = json2csv({ data: myCars, fields });` helped. thanks mate!

[2018-02-06 06:18] juanjoDiaz commented on #250
I'll keep this open until the 4.0 release in case anyone else gets into the same confusion.

[2018-02-06 10:13] udanpe commented on #250
@juanjoDiaz
`const csv = json2csv({ data: myCars, fields });`
Its works. Thanks.

[2018-02-06 10:45] udanpe commented on #250
What about quotes? How its works?
[code]

[2018-02-07 02:28] kpennell opened #251 "TypeError: path must be a string or Buffer"
Hey there, have you seen this before?
[code]

[2018-02-07 02:40] #251 closed

[2018-02-07 05:11] kpennell opened #252 "Could really use help with some nested arrays/objects"
I've been tearing my hair out for a couple hours now. Cannot figure out how to get a big csv with prop1, prop2, prop3, prop4 as my headers. I just can't quite get the syntax here. Any hints/help?

[code]

[2018-02-07 05:14] kpennell commented on #252
The challenge is that it goes more like
[code]

[2018-02-07 15:14] knownasilya commented on #252
You need to combine the data into one array, so something like: https://runkit.com/knownasilya/5a7b14fbde8a180012049fbf

[2018-02-07 15:59] kpennell commented on #252
Hmm, this helpful. Is doing it on the command line going to be pretty hard then?

[2018-02-07 17:01] knownasilya commented on #252
You could write a script that takes what I did above and uses node's fs.* methods to create a new json file, or you can use something like https://github.com/antonmedv/fx to transform the json in the CLI.

[2018-02-07 17:01] #252 closed

[2018-02-08 07:33] tlhe opened #253 "What I want is a file instead of a string"
What I want is a file instead of a string,can i?
json(Object) not a file to use json2csv,and i want is a file

[2018-02-08 08:05] juanjoDiaz commented on #253
Can you clarify a bit what you are asking?

Do you want a file as input?
Do you want a file as output?
Do you want something else that I'm totally missing?

[2018-02-08 08:13] tlhe commented on #253
input:json(Object)  [very larger]
output:xxx.csv

now ,i use json2csv ,json(Object) is very larger,so i get JavaScript heap out of memory

[2018-02-08 17:11] juanjoDiaz commented on #253
I see.

Version 4.0 will include a stream API so you can stream data from your json file to your csv file without memory issues.

So unfortunately you need to wait a bit until it's released. It should happen soon. :)

[2018-02-08 17:39] knownasilya commented on #253
We can probably do a beta release

[2018-02-12 09:29] webcoweb opened #254 "This plugin does n`t support UTF-8 in CSV file"
Hello

I wanna know that how can I integration this plugin to support utf-8 in CSV  file?

thanks

[2018-02-12 11:34] juanjoDiaz commented on #254
Please check if #182 help and let me know otherwise.

tldr; `withBOM: true`

[2018-02-12 14:35] webcoweb commented on #254
I used this option "withBOM: true" and it works very good...

Thank you so much dear @juanjoDiaz

[2018-02-12 14:41] #254 closed

[2018-02-17 17:49] #237 closed

[2018-02-17 17:49] juanjoDiaz commented on #236
According to [TypeScript documentation](http://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) the TypeScript definition shouldn't really be in this package. It should be published in https://github.com/DefinitelyTyped/DefinitelyTyped by PR.

[2018-02-17 17:50] juanjoDiaz commented on #214
I'll close this for a lack of answer.

Feel free to reopen if you still think that is an issue.

[2018-02-17 17:50] #214 closed

[2018-02-17 17:51] juanjoDiaz commented on #173
I'll close this for a lack of answer.

Feel free to reopen if you still think that is an issue.

[2018-02-17 17:51] #173 closed

[2018-02-17 17:51] juanjoDiaz commented on #164
I'll close this for a lack of answer.

Feel free to reopen if you still think that is an issue.

[2018-02-17 17:51] #164 closed

[2018-02-17 17:51] juanjoDiaz commented on #146
I'll close this for a lack of answer.

Feel free to reopen if you still think that is an issue.

[2018-02-17 17:51] #146 closed

[2018-02-17 17:51] juanjoDiaz commented on #121
I'll close this for a lack of answer.

Feel free to reopen if you still think that is an issue.

[2018-02-17 17:51] #121 closed

[2018-02-17 17:56] juanjoDiaz commented on #249
json2csv is intended to convert an array of objects not an array of strings (or dates, or numbers, or anything else ,for that matter)

Honestly, I don't see much value on what you propose. Sounds like something that you could achieve with basic JS as I said above `[1,2,3,4,'1,2,3,4'].reduce((csv, elem) => csv + '\n' + elem, '')`

I'll close this since I don't think that it will be implemented in t

[2018-02-17 17:56] #249 closed

[2018-02-21 13:37] terryweiss opened #257 "Transform export"
1. Include the command or code you used.
`const Json2csvTransform = require('json2csv').Transform;`

2. Include a sample dataset that we can test against.
any

3. Include your output/error.
Transform not found

I looked at the code installed by npm and the code in master and `Transform` is not exported. I will use json2csv-stream instead and I will be happy to to issue a PR with an updated readme,

[2018-02-21 13:45] knownasilya commented on #257
Are you testing against the master branch version of the library (we haven't released a new version to npm yet)?

[2018-02-21 13:49] knownasilya commented on #257
I just published an alpha version 4.0.0-alpha.0

[2018-02-21 13:49] knownasilya commented on #257
cc @juanjoDiaz

[2018-02-21 14:01] juanjoDiaz commented on #257
Yup, sounds like using the old version of the library. Version 4.X should solve it.

Any reason to publish alpha instead of publishing 4.0.0 directly? What are the steps to move away from alpha?

[2018-02-21 14:08] knownasilya commented on #257
Just wanted to do a quick release that we can try out before doing a 4.0. Mainly to catch anything we missed without affecting too many people.

[2018-02-22 15:25] terryweiss commented on #257
I'm running this now. It has not caused any issues yet and the readme matches the API I am seeing. Thanks for the quick response. If there is anything further I can do to help, let me know.

I assume this should stay open until 4.0 is released?

[2018-02-22 20:42] ememisya opened #258 "formatter in fields"
## Using Version 3.11.5

Is there a way to include a **formatter** with fields?

Something like:
[code]
I am getting a JSON result with UTC dates which needs to be converted to local date, and I've found myself iterating through a very large JSON array twice, once for date conversion, and a second time for converting to CSV.  Briefly looking over the code I did not notice such a feature.

[2018-02-22 20:49] knownasilya commented on #258
`value` can be a function 👍 check the fields docs in the README

[2018-02-22 20:51] ememisya commented on #258
Yup, didn't see it.  Thank you so much!

[2018-02-22 20:51] #258 closed

[2018-02-22 20:53] knownasilya commented on #258
You could easilly make a function that takes a path and returns another function that does the formatting, e.g. `value: formatPath('my.path')` where `formatPath` handles getting the value and transforming it.

[2018-02-25 18:14] #175 closed

[2018-02-26 08:16] barbalex opened #261 "v4 not compatible with create-react-app"
I am using create-react-app (https://github.com/facebook/create-react-app).

After updating to v4 (which worked fine in dev mode) production build fails:

[code]

create-react-app explains the issue here: https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

It seems like the breaking part is uglify, see here: https://gith

[2018-02-26 14:41] knownasilya commented on #261
The code is already bundled using webpack, see the `dist` folder.

[2018-02-26 15:19] barbalex commented on #261
I don't know if I understand you correctly.

The issue is not that the code is bundled using webpack. The issue is that the code is using es6. And that create-react-app uglifies all imported code. And that this only works with es5 code, causing above error if the code is es6.

The issue is also that older browsers will fail to understand es6 code. That is the reason why create-react-app expects li

[2018-02-26 15:19] valgeirb commented on #261
json2csv.js in the ```dist``` folder seems to contain some arrow functions that uglify can't handle, is this ok or am I missing something?

[2018-02-26 15:52] juanjoDiaz commented on #261
I'm currently working on this.

[2018-02-27 13:17] juanjoDiaz opened #264 "Add browser tests"
Currently we only test the library in node.js.
It would be very beneficial to test the packaged library in browsers as well. at least in headless chrome.

[2018-02-27 13:20] juanjoDiaz opened #265 "Add documentation on how to use the streaming API in the browser"
json2csv umd build include a shim for node transform so it can be used in the browser.
However, it's not documented how to do so.

[2018-02-27 21:24] #257 closed

[2018-02-27 21:24] knownasilya commented on #257
v4.0.0 Released

[2018-02-27 21:25] knownasilya commented on #253
v4.0.0 released

[2018-02-27 21:25] #253 closed

[2018-02-27 21:25] knownasilya commented on #250
v4.0.0 released

[2018-02-27 21:25] #250 closed

[2018-02-27 21:25] knownasilya commented on #229
v4.0.0 released

[2018-02-27 21:25] #229 closed

[2018-02-28 15:44] knownasilya commented on #211
https://www.npmjs.com/package/jsonpath

[2018-02-28 16:36] juanjoDiaz commented on #211
Jsonpath expression might match multiple paths, so multiple values might be matched.
In you example you'd get a username for each `<numericId>`.

How do you suggest that we deal with that?

[2018-03-06 06:10] #236 closed

[2018-03-08 14:01] adilapapaya opened #269 "RangeError: Maximum call stack size exceeded when input array is > 100k rows"
<!--
# Instructions

Hi.

First off, thank you for this wonderful library – saved me having to code things up myself :)

I'm coming across an issue using `json2csv` with large arrays – in those cases, I get this error:
[code]

Going through to code, it looks like it has to do with the `Array.prototype.concat.apply([])` in this line of `json2csv/dist/json2csv.cjs.js`:

[code]

Here is some sample c

[2018-03-08 14:01] adilapapaya opened #270 "RangeError: Maximum call stack size exceeded when input array's length > 100k"
Hi.

First off, thank you for this wonderful library – saved me having to code things up myself :)

I'm coming across an issue using `json2csv` with large arrays – in those cases, I get this error:
[code]

Going through to code, it looks like it has to do with the `Array.prototype.concat.apply([])` in this line of `json2csv/dist/json2csv.cjs.js`:

[code]

Here is some sample code to test it out:

[2018-03-08 15:16] knownasilya commented on #270
I see that you are using the synchronous API. We also have an async API which is meant for large datasets, have a look here: https://github.com/zemirco/json2csv#json2csv-transform-streaming-api

[2018-03-08 15:16] knownasilya commented on #269
Closing since https://github.com/zemirco/json2csv/issues/270 has the details.

[2018-03-08 15:16] #269 closed

[2018-03-09 08:45] juanjoDiaz commented on #270
Fixed by my PR ^

In case case, as @knownasilya said. For such large dataset. The stream API is a much better fit since you won't need to have the entire objects (both JSON and CSV) in memory.

[2018-03-09 11:04] #270 closed

[2018-03-09 17:45] knownasilya commented on #270
Published as v4.0.2

[2018-03-10 16:26] panteluke opened #272 "Typescript help"
Just a small silly question, because I'm puzzled with the type definition. Can you give a simple example where you have an object of class A and you try to convert it to csv? I cannot figure out how you provide opts in the parser constructor.

[2018-03-11 13:03] juanjoDiaz commented on #272
You can see some examples here: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/b0a6ea017ee6608093c073cbf7ce4ea84ddc0d9e/types/json2csv/json2csv-tests.ts

Can you elaborate a bit on what is unclear to you??

[2018-03-11 17:49] panteluke commented on #272
Yes sure. In various examples we can see something like this:

[code]
But I cannot figure out the way that I can achieve this through Typescript. Even in the link that you sent me, there is no such case if I'm not mistaken.

[2018-03-11 18:11] juanjoDiaz commented on #272
You are right. There is a bug in the Types but it should be fixed with my the PR I just made.

[2018-03-11 18:14] panteluke commented on #272
Thank you

[2018-03-16 21:48] #272 closed

[2018-03-21 05:11] zbjornson opened #273 "flatten option with null values causes error"
1. Include the version of json2csv used. 4.0.2
2. Include your node version/browser vendor and version. node.js 8.9.4
3. Include the command or code you used.
[code]
4. Include a sample dataset that we can test against. (above)
5. Include your output/error.
[code]

That line fails because `typeof null === "object"`.

[2018-03-21 12:21] itumanov opened #275 "In README.md"
Where are possible options described, please change param name `quote` to `quotes` (as it defined in code).
It takes some time to get why `quote` param isn't working.

[2018-03-21 13:27] juanjoDiaz commented on #275
Current options are only for version ^4.0.0.

But I agree that we should keep older versions documented.

[2018-03-24 10:01] sarvagayatri opened #276 "Can i save data in different sheets of same csv ?"
I am having some data, where i need to save data in different sheets based on my custom filter. how can i achieve with this package?

[2018-03-25 12:44] codeofsumit commented on #32
Doesn't seem to work for me:
`Error: Data should not be empty or the "fields" option should be included`

[2018-04-02 15:49] threepears opened #277 "Need to close stream process?"
I'm experiencing something very strange and can't find a solution, so thought I'd check to see if I was missing something.

I have an interface where users can set parameters and then download data files from our system.  I set this up to stream from the database request back through the API to the front end, and was using an older version of json2csv on the front end to synchronously catch the re

[2018-04-02 16:30] knownasilya commented on #277
Have you tried creating a new `Transform` instance for every request?

[2018-04-02 16:36] threepears commented on #277
I am, apparently, a complete idiot.  I had the `Transform` instance being created outside the request code.  Pulling it down a few lines eliminated the issue.  Thank you SO much!

[2018-04-02 18:07] juanjoDiaz commented on #276
I'll close this since I think that my response answers your question.
Feel free to reopen if you think that there is anything else that we could do 🙂

[2018-04-02 18:07] #276 closed

[2018-04-02 19:37] #277 closed

[2018-04-02 20:01] juanjoDiaz opened #278 "CLI tests failing in Node < 8"
Recently, the CLI tests related to the pretty print mode have started to fail. For example https://travis-ci.org/zemirco/json2csv/builds/361332217

It seems that something has changed on Travis side, but hard to tell.

[2018-04-02 23:38] #273 closed

[2018-04-03 10:19] sivahanuman opened #279 "Can't use with angular 5"
Issue:
I install this package with npm install and i add the code in my angular component, i am getting error
 **Cannot find name 'require'**

`
ERROR in ./node_modules/angular2-json2csv/src/csv.service.ts
Module build failed: Error: \node_modules\angular2-json2csv\src\csv.service.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' pr

[2018-04-03 11:30] juanjoDiaz commented on #279
That issue has nothing to do with json2csv. It's an issue of the angular wrapper and was already reported in https://github.com/aqeel-legalinc/angular2-json2csv/issues/11

angular2-json2csv Look like hasn't been updated for quite a while, though.

[2018-04-03 11:30] #279 closed

[2018-04-09 14:07] joaonice opened #280 "Allow empty data set if fields specified"
json2csv version: 4.0.2

Code:

[code]

Getting the error:

`Data should not be empty or the "fields" option should be included`

Fields are configured and I'm still getting the error.

[2018-04-09 14:37] knownasilya commented on #280
Looks like we need to tweak that message, but basically it shows up because your data has no items.

https://github.com/zemirco/json2csv/blob/master/lib/JSON2CSVParser.js#L43

Is there a reason you'd want a CSV without any data?

[2018-04-09 14:44] joaonice commented on #280
In my code, in some situations, my empty state data is an empty array (fetching some data from database). As a temporary fix, I'm checking if the array is empty and transform it in an array with an empty object. In that case, I just want a CSV with the headers.

[2018-04-09 16:47] knownasilya commented on #280
Give v4.0.3 a try.

[2018-04-09 16:47] knownasilya commented on #273
Released in v4.0.3

[2018-04-09 18:17] joaonice commented on #280
@knownasilya thank you but I'm getting the same error because the first element of `data` is not an object.

[code]

[2018-04-09 19:10] knownasilya commented on #280
Ah, yes I'll fix that.

[2018-04-10 02:28] #280 closed

[2018-04-10 19:19] knownasilya commented on #280
Try v4.0.4

[2018-04-11 11:10] joaonice commented on #280
Thank you!

[2018-04-13 04:37] Lekha30 opened #284 "Issue with IE11"
Hi there,

This is not working in IE11. Is there a way to make it work in IE11?
I am using version number 4.0.2
Browser used : Chrome, Firefox, Edge and IE11.
The download doesn't seem to work in IE11

Usage in my workspace::

const dataToCSV = (data, fields, unwind = [], flatten) => {
  const json2csvParser = new Json2csvParser({
    fields,
    unwind,
    flatten,
  });

  return json2csvParser

[2018-04-13 04:53] Lekha30 commented on #284
Looks like the Download stuff that I am using is the one causing the problem not with this library.
Sorry for the inconvenience.

[2018-04-13 04:53] #284 closed

[2018-04-19 18:11] petetnt commented on #275
Just searched them myself and they can be found via git tags, for example https://github.com/zemirco/json2csv/tree/v3.11.5 :)

[2018-04-19 18:52] juanjoDiaz commented on #275
Thanks, @petetnt!!
I had the same idea some time ago and then forgot to push the link to the repo.

[2018-04-20 13:07] emugel opened #292 "echo "" | json2csv Returns error"
`echo "" | json2csv`
[code]
Do you think it would be possible for empty input to not return above error? I think it would be more convenient in scripts.

[2018-04-20 22:11] knownasilya commented on #292
Not sure we want to do that, because the input is invalid. If you had `"[]"` and the fields defined, that's another story, since then we can print the headers from the fields passed in as an argument.

[2018-04-21 08:59] juanjoDiaz commented on #292
Exactly.

`""` isn't even valid JSON according to the spec.

In any case, unless you pass the headers explicitly, you need to pass either an object with fields or an array where the first element is an object with fields. Otherwise, it's impossible to print anything.

So one option is to pass the headers explicitely using the headers options.
Other option, since your use case seems to be scripting

[2018-04-21 08:59] #292 closed

[2018-04-21 09:11] emugel commented on #292
I’ fine with whatever decision but note echo “” won’t actually  feed ‘“”’ but an empty string. The csv for it could also be an empty output.

Although I do admit an API should not return an empty result normally.

[2018-04-21 09:51] juanjoDiaz commented on #292
Correct.

The problem is that json2csv input must be a valid JSON object or array and an empty string is not valid JSON at all :)

[2018-04-27 17:06] isaac-martin opened #293 "New Rows In CSV"
Is it possible to force new rows?
Have a format I need to match that has each object over three rows.

Everything I have tried is being stripped out when parsed.

[2018-04-27 19:33] isaac-martin commented on #293
Perfect, Thanks that will at least steer me in the right direction. Have a nice weekend!

[2018-04-27 19:34] juanjoDiaz commented on #293
You too!

I'll close this. Feel free to re-open or just ask if you have any more questions :)

[2018-04-27 19:34] #293 closed

[2018-04-30 16:15] isaac-martin commented on #293
Still couldn't figure it out @juanjoDiaz - returns a  ReferenceError that acc is not defined inside the getObjectProps function.
Understand if you're too busy to help out, this is a little out of my skill level and as you said quite an unusual requirement.

[2018-04-30 17:31] juanjoDiaz commented on #293
My bad. I told you it wasn't tested. :p

The right function is:

[code]

Just tested the whole thing and it works :)

Just let me know if you have any other problem :)

[2018-05-03 20:41] matt212 opened #294 "Json2csvTransform is not a constructor"
Hi,

Node version is : 8.1.4
json2csv version: lastest

below is code
[code]
but i am getting this error

could you provide some pointer on same !

[2018-05-03 21:06] juanjoDiaz commented on #294
Hi @matt212,

That's odd. Are you sure that you are using the latest version and node 8?
You can see on our test files that your code seems correct and I just tested your sample code and it worked just fine as it is ...

[2018-05-03 21:09] matt212 commented on #294
Apologize ,
my version in  json2csv in legacy package.json was in effect while executing npm install json2csv
now it is working as expected .
BTW very comprehensive node module for json csv transformation !

[2018-05-03 21:09] #294 closed

[2018-05-09 22:53] kpennell opened #295 "Not sure if possible to use this with async await"
With all due respect to this awesome library...I recommend **not** trying to use it with async await. No idea why I couldn't get it working...Would love those 2 hours back! 😠

Oh well....try this instead: https://stackoverflow.com/questions/8847766/how-to-convert-json-to-csv-format-and-store-in-a-variable

[2018-05-09 22:53] #295 closed

[2018-05-09 22:58] knownasilya commented on #295
This library is sync thus doesn't require async await.  What were you attempting?

[2018-05-09 22:59] kpennell commented on #295
Was trying to get data from an async operation...then when it
finished...convert it to csv and download.

Anyway, feel free to close. Just trying to spare someone a lot of effort.

On Wed, May 9, 2018 at 3:58 PM, Ilya Radchenko <notifications@github.com>
wrote:

[2018-05-09 23:41] knownasilya commented on #295
Just pass the Json after your Await to json2csv directly :)

[2018-05-09 23:43] kpennell commented on #295
thx!

On Wed, May 9, 2018 at 4:41 PM, Ilya Radchenko <notifications@github.com>
wrote:

[2018-05-10 07:57] juanjoDiaz commented on #295
The stack overflow link that you put is a largely oversimplified CSV conversion. We do a bit more escaping, quoting, headers, etc.

As it has been mention, json2csv is sync. I assume that all you want to do is:
[code]

If you still want to, feel free to add a code example of your issue and I can tell you what's wrong :)

[2018-05-10 20:11] isaac-martin commented on #293
So I thought I had this all working until i realized the JSON we are getting can sometimes have nested content inside.

Data would look like this as an example

[code]
Ideally I need an output like the below - where we are making a new row for each item inside `lineitems`

[code]

I've been playing around for a few days but I am not sure this is even going to be possible?

[2018-05-10 21:36] juanjoDiaz commented on #293
[code]

I expect 10% of your paycheck at the end of the month :p

JK, hope that helps!
The "prod_qty" property is not quoted in the result because it's a number and not a string. You can change it also with a bit of preprocessing.

[2018-05-13 10:17] dzmitryafanasenka opened #296 "Headers as column"
Hello. I'm using json2csv v4.1.2 as js module for node.js v10.0.0. Can I make headers as column?

**Now:**

|      Car    |   Color    |
|   Audi     |    Red     |
|   Mazda |   White    |

**What I want:**
|      Car    |   Audi    |       Mazda   |
|    Color   |    Red    |       White    |

**My code:**

` const Json2csvParser = require('json2csv').Parser;`
`const json2csvParser = new Json2cs

[2018-05-13 12:06] knownasilya commented on #296
What's the use case for this format?

[2018-05-13 12:11] dzmitryafanasenka commented on #296
@knownasilya The desire of the customer. He wants CSV with the format like:
Field - Values.
Field - Values.
No matter, I did it without json2csv.

[2018-05-13 12:13] #296 closed

[2018-05-21 08:42] fredy-bambang opened #297 "Update Lodash Dependencies for patch vulnerability"
i use json2csv with version: "^4.1.2"
looks like found and security issue in this package dependencies,
is possible fix this package?
Thank you.
![security_audit_json2csv](https://user-images.githubusercontent.com/18359424/40298453-641e7c0c-5d0d-11e8-8db5-3e9023b22162.jpg)

[2018-05-21 15:19] juanjoDiaz commented on #297
Thanks for reporting!
I'll look into this shortly.

[2018-05-22 16:40] isaac-martin opened #299 "Stripping Empty Tabs From End of Row"
So from my testing, if there is empty columns in rows tabs will be inserted to get all rows the same column length - with the below this is 7 coulmns wide.
Taking the below code as an example.

[code]

Outputs the following ( ⇾ is indicative of a '\t' )

[code]
Due to the system that is reading this CSV (I have no control over this) What I want to output is below (stripping empty tabs from end of

[2018-05-22 19:02] juanjoDiaz commented on #299
Hi there!
As with your previous request, json2csv behavior is correct since in CSV every row should have the same number of columns.

In this case, I recommend some post-processing.

[code]

I'll close this for now. Feel free to re-open or ask if you have more questions :)

[2018-05-22 19:02] #299 closed

[2018-05-23 06:56] furstenheim opened #300 "Not properly escaping quotes with non default quote"
When using json from node (not the cli) if I change the quote symbol it does not get properly escaped. If the json is

  const obj = [{a: "b'c"}]
  new J2csvParser({fields: ['a'], delimitir: ';', quote: '\''})

The output will be 'b'c' which is not correct. It should be escaped 'b''c'
Version of json2csv 4.1.2

[2018-05-23 19:23] juanjoDiaz commented on #297
Just to follow up, the issue is not in json2csv but in cli-table2, one of our dependencies.
I'm currently looking at solving the problem.

[2018-05-23 20:18] #300 closed

[2018-05-23 20:20] knownasilya commented on #300
Published as v4.1.3

[2018-05-30 13:08] juanjoDiaz commented on #297
Working on it! 😄

[2018-05-30 13:09] rperlmuter commented on #297
Thanks a lot,

Ron

From: Juanjo Diaz <notifications@github.com>
Reply-To: zemirco/json2csv <reply@reply.github.com>
Date: Wednesday, 30 May 2018 at 16:09
To: zemirco/json2csv <json2csv@noreply.github.com>
Cc: Ron Perlmuter <rperlmuter@paloaltonetworks.com>, Comment <comment@noreply.github.com>
Subject: Re: [zemirco/json2csv] Update Lodash Dependencies for patch vulnerability (#297)

Working on it

[2018-06-04 12:05] Grauen commented on #139
hi @knownasilya ,

is there also a way to parse nested arrays to multiple rows?
So instead of two rows you get one row for your project but the nested array element is included n times and each cell has a value from the array?

Sincerly,
Grauen

[2018-06-04 15:55] juanjoDiaz commented on #139
Hi @Grauen,

That's how the `unwind` option works. Please take a look at it and feel free to ask more if I got wrong what you are looking for.

An example of a JSON object and the CSV that you would expect as output will help also understanding better what you are trying to do :)

[2018-06-11 15:04] knownasilya opened #303 "Remove node 4 and 5 support, End-Of-Life"
The Node org has ended support for Node 4 in April and Node 5 in 2016, so we shouldn't be supporting these. Also the new maintained cli-table3 only supports node 6+.

https://github.com/nodejs/Release/blob/643af71ee8365efbdccaa134690425ea05931279/README.md#release-schedule

[2018-06-11 16:12] juanjoDiaz commented on #303
I'm not sure if adding a library that was recently created and it's only tangentially used in json2csv really justifies a major version bump.

I was planning to create a very simple table cli just for our use case.
Another option would be to use a widely used table like https://www.npmjs.com/package/table since we don't need the multiple row/col span that's the main selling point of cli-table2 and

[2018-06-11 16:18] knownasilya commented on #303
I'm fine either way, but I think it still stands that we shouldn't be supporting a node version that Node itself doesn't.

I can actually see us doing something like `json2csv ... | csv-table` as a better solution. But in the end we will see more issues with Node 4 no matter what we use for table printing.

[2018-06-11 20:10] juanjoDiaz commented on #303
Just give me a day or so and I'll come back with a simpler proposal for the pretty print :)

Regarding deprecating node 4 and 5. I have no problem with that. But I don't see a problem keeping it until we have to change it either. After all, people still use Node 0.10 :)

[2018-06-11 20:33] knownasilya commented on #303
Yeah, and people still use Windows XP, doesn't mean they should haha :trollface:

Sounds good regarding the pretty print

[2018-06-22 02:17] paustint opened #304 "Tab characters in data are automatically escaped to \\t"
I am running into an issue where our JSON object has string properties that have tab characters represented as "\t" in the values of the dataset.

When this is converted to a CSV, `json2csv` is escaping all the tab characters and changing them to `\\t` which is not desired.

The workaround I found was to perform `result = result.replace(/\\t/g, '\t');` on the output CSV string to unescape the tabs

[2018-06-22 22:54] juanjoDiaz commented on #211
Closing this since there hasn't been any activity here for a while.
Feel free to reopen.

[2018-06-22 22:54] #211 closed

[2018-06-22 22:55] juanjoDiaz commented on #209
Closing this issue since it seems stale (no activity for a long while)
Feel free to reopen.

[2018-06-22 22:55] #209 closed

[2018-06-23 03:33] #304 closed

[2018-06-23 03:37] knownasilya commented on #304
Released in v4.1.4

[2018-06-24 14:25] glorat opened #307 "cli-table2 dependency has security issues, replace with cli-table3"
Please see https://github.com/jamestalmage/cli-table2/issues/48
The latest npm cli-table2 is 0.2.0, which json2csv uses. This version has the above security issue because it loads an old lodash. Rather than patching cli-table2, the authors have asked that the cli0-table3 dependency be used instead

https://github.com/cli-table/cli-table3

Please can we switch to that? If maintenance here is constr

[2018-06-24 14:28] glorat commented on #307
For better information on why this should be done, see https://github.com/cli-table/cli-table3/issues/17

[2018-06-24 14:31] glorat commented on #307
I now see this would be resolved by https://github.com/zemirco/json2csv/pull/302

[2018-06-24 18:51] juanjoDiaz commented on #307
Duplicate of #297

[2018-06-24 18:51] #307 closed

[2018-06-26 00:02] anishxt commented on #195
I know that this is tagged as a feature request, but I'm wondering to have another(?) feature similar to this. As @kodybrand mentioned, the resultant CSV generated is:

`"car","price","color"`
`"Audi",40000,"blue"`
`"BMW",35000,"black"`
`"Porsche",60000,"green"`

Can we have an option to enclose all data fields with quotes regardless of data-type (even for integers, float, boolean) like this:

`"c

[2018-06-26 01:00] juanjoDiaz commented on #195
Hi @anishxt,

Would some preprocessing solve your use case?

Something like this (untested code disclaimer 🙂)
`const myStringifiedData = myData.map(item => Object.keys(item).reduce((acc, key) => (acc[key] = String(item[key])), {}))`

Imho, json2csv should only convert json to csv. Not change your data types.

[2018-06-26 05:57] anishxt commented on #195
Thank you, @juanjoDiaz, for throwing that bit!

Did some adjustments to fit with my case and it worked! Thank you!! 🙂

[2018-06-26 12:56] MrDockal opened #309 "Typo in README.md"
Hi,

I have just that **Example 3** in documentation has an extra argument in parse method.

`const csv = json2csvParser.parse(myCars, { fields });`
should be
`const csv = json2csvParser.parse(myCars);`

[2018-06-26 14:59] #309 closed

[2018-06-27 16:56] jugonzalez40 commented on #51
Currentlly there is any way to remove it?

[2018-06-29 18:06] sahadat84 opened #313 "data manipulation / data error handling"
version 3.X
Can we add a features for data manipulation/ error handling example: if data cell is null show (' ') empty

[2018-06-29 18:23] juanjoDiaz commented on #313
Hi @sahadat84

Version 3.X is deprecated. I'd advise that you switch to version 4.X. The migration should be very simple.

Apart from that, json2csv doesn't aim to do data processing, only to do the conversion. You can do the processing before calling json2csv.

Also, aren't empty fields already converted to ""? Have you checked the `default` option?

It would be easier to help you if you provide

[2018-07-12 17:09] juanjoDiaz commented on #313
Closing since there was no response.
Please feel free to reopen if you think that it should be reopened.

[2018-07-12 17:09] #313 closed

[2018-07-12 18:39] #297 closed

[2018-07-15 06:37] rperlmuter commented on #297
Thanks a lot ☺

Ron

From: Ilya Radchenko <notifications@github.com>
Reply-To: zemirco/json2csv <reply@reply.github.com>
Date: Thursday, 12 July 2018 at 21:39
To: zemirco/json2csv <json2csv@noreply.github.com>
Cc: Ron Perlmuter <rperlmuter@paloaltonetworks.com>, Comment <comment@noreply.github.com>
Subject: Re: [zemirco/json2csv] Update Lodash Dependencies for patch vulnerability (#297)

Closed #2

[2018-07-15 09:31] juanjoDiaz commented on #278
This was closed by #312

[2018-07-15 09:31] #278 closed

[2018-08-06 06:47] jokerlck opened #316 "How to remove double quotes only in fields"
Using version 4.2,

`var fields = ['CardNumber', 'BatchID', 'ValueNumber', 'Value', 'ExpDate', 'ExpDateDisplay']`

`csvObj = {`
`                'CardNumber' : "...",`
`                'BatchID' : "...",`
`                'ValueNumber' : "...",,`
`                'Value' : "...",,`
`                'ExpDate' : "...",,`
`                'ExpDateDisplay' :  "..."`
`            }`
`csvArr.push(csvObj

[2018-08-06 06:53] juanjoDiaz commented on #316
That's done in Example 6 of the readme.

Just use the quote option `quote: ''`.

[2018-08-06 07:02] jokerlck commented on #316
@juanjoDiaz
This will remove all quote. The result in Example 2 is what I want.
But I get an error
`TypeError: Json2csvParser is not a constructor` when following the example.

[2018-08-06 07:29] juanjoDiaz commented on #316
Are you really using version 4.X? That last error looks like you are using 3.X but calling as if it was 4.X. and `var csv = json2csv({ data: csvArr, fields: fields})` is definitely 3.X API.

Can you post a running code sample, please?
Then I can help you with that error :)

Regarding removing the quotes from the headers but not from anything else. It was requested on #195 but is not implemented.

[2018-08-06 07:38] jokerlck commented on #316
It works, thank you.
I have checked the package.json and package-lock.json, the version is 4.2.0

[2018-08-06 08:17] gilles-crealp opened #317 "New parser don't reset automatic `fields` selection when `header: false`"
[code]

Versions:
- json2csv 4.2.0
- node 10.1.0

[2018-08-06 09:11] gilles-crealp commented on #317
Shouldn't be the same if I don't define `fields` and parse multiple different data? So I can define the options (except `fields`) only once.

[code]

[2018-08-06 10:48] juanjoDiaz commented on #317
It's a bug indeed!! I'll fix it asap. Thanks for reporting with such a clear code sample :)

[2018-08-06 11:30] gilles-crealp commented on #317
And you need to have the same object for the options!

Work:
[code]

Do not work:
[code]

[2018-08-06 12:12] #316 closed

[2018-08-06 20:04] #317 closed

[2018-08-06 20:05] knownasilya commented on #317
Fix published in v4.2.1

[2018-08-07 05:08] gilles-crealp commented on #317
Thx for the reactivity!

[2018-08-07 12:12] knownasilya commented on #317
Thanks for the detailed issue 💃

[2018-08-09 11:08] kallaspriit opened #319 "Open promise handle reported by Jest (Closed: False positive)"
When using json2csv in my project alsongside with Jest, I'm getting the warning:

`Jest did not exit one second after the test run has completed.`

Running jest with --detectOpenHandles gives me:

[code]

So it seems that the library creates some promise that does not get resolved/rejected so Jest continues to wait for it for a while and then quits. I tried removing the use of the library and the

[2018-08-09 11:42] juanjoDiaz commented on #319
The line is `(Promise && getTag(Promise.resolve()) != promiseTag)`.

I don't see how that is not resolving a promise.

Maybe your issue is related to https://github.com/facebook/jest/issues/6639 and all you need is to update jest?

[2018-08-09 11:45] juanjoDiaz commented on #319
Also, just for the record, the line erroring is not json2csv's code but babel polyfills code.

[2018-08-09 11:48] kallaspriit commented on #319
Ok, probably a false positive then. I'm using the latest jest@23.4.2.

[2018-08-09 12:50] #303 closed

[2018-08-14 02:17] johnyesberg opened #320 "Array expansion"
Thanks for your work on json2csv.
I'm using node 8.11.3, json2csv 4.2.1

I have a large number of JSON objects with several arrays. A subset of one of my records, for example,
[code]
To explore this data in Excel, I'd like it in CSV format.
If my field list contains "inlet.flows", I get a single CSV volumn containing the whole array.
I couldn't work out how to specify the field list to extract a s

[2018-08-14 02:21] johnyesberg opened #321 "If no field list, use all fields from first record"
Hi and thanks again.

My JSON records are very large and all have identical structure.
Writing out the field list is tedious.
I think that a principle-of-least-surprise option might be that if there is no list of fields specified, then json2csv uses all of the fields from the first record.
I'd be interested in your thoughts.

Best wishes
John

[2018-08-14 05:32] juanjoDiaz commented on #320
Hi @johnyesberg,

Unfortunately, the `flatten` option doesn't unwind arrays.
We might add more options to it in the future but for now, it's just not there.

For now, you can achieve your goal with some pre-processing:
[code]

[2018-08-14 05:34] juanjoDiaz commented on #321
Hi @johnyesberg,

That's pretty much how it works.
The stream API (which is the one intended for large datasets) does exactly that.
The sync API (which is intended for small dataset) goes through all the records in the dataset and collect all the possible fields before actually doing the conversion to CSV.

[2018-08-14 11:55] knownasilya commented on #321
The above works as long as you haven't specified your own fields.

[2018-08-14 12:45] labyed opened #322 "error webpack"
the export was working until we updated to angular 6, and we got this error :

-ERROR TypeError: json2csv__WEBPACK_IMPORTED_MODULE_4__ is not a function

[2018-08-14 17:11] juanjoDiaz commented on #322
That error doesn't tell much...

What version of json2csv are you using?
How are you importing it?
etc.

[2018-08-16 09:52] 3ruce opened #323 "Unexpected Token"
I'm running 4.2.1 on ubuntu server 16.04 with the command below against the attached tweets.json file (I just added the .txt file to be able to upload it).

`json2csv -i tweets.json -f user,text,fullname,id,timestamp -o out.csv`

[tweets.json.txt](https://github.com/zemirco/json2csv/files/2293221/tweets.json.txt)

The error I get is below and the json file is valid according to http://jsonlint.com

[2018-08-16 12:42] knownasilya commented on #323
Sounds like you are running an old version of Node.js. Give the latest version a try (or 6+).

[2018-08-20 10:16] 3ruce commented on #323
I'm running version 10 and a quick test has worked... if I run into any other problems, I'll let you know... Thanks for your help!

[2018-09-18 05:00] erick2014 opened #324 "How do I know when the Json2csvTransform has been finished?"
Hello guys, thx for this awesome library, I just have small question, because the docs doesn't say nothing about it. I would like to know how can I know when the parsing process has finished in order to send a response to the client?

this is my code
[code]
I saw these events in the doc :
[code]
But there isn't a finish event or something like that, I have no idea what can I do

[2018-09-18 06:19] juanjoDiaz commented on #324
Hi @erick2014 ,

Json2csvTransform is a standard stream so you can use the standard stream API. Concrete the `end` event is what you are looking for.

You can look at the tests to see how it works: https://github.com/zemirco/json2csv/blob/master/test/JSON2CSVTransform.js

[2018-09-18 09:29] juanjoDiaz commented on #322
Closing this since there hasn't been any response. Feel free to reopen.

[2018-09-18 09:29] #322 closed

[2018-09-18 09:31] juanjoDiaz commented on #319
Closing this since we haven't heard about it for a while.

@kallaspriit it might be good for the next person getting here if you could share how you got rid of the error.

[2018-09-18 09:31] #319 closed

[2018-09-18 09:31] #321 closed

[2018-09-18 09:32] juanjoDiaz commented on #320
Closing this since we haven't heard from you in a while. Feel free to reopen.

[2018-09-18 09:32] #320 closed

[2018-09-18 15:45] erick2014 commented on #324
@juanjoDiaz, hey thx for your help, it worked. I wanted to ask you another thing, what is the maximum size for the array that the library supports, because I was checking this information :

[2018-09-18 17:46] juanjoDiaz commented on #324
There is no maximum size (apart from your machine's memory).
It's more of an application design issue.
I'd recommend that you read about streams in general if you want to know more about why they exist and how to use them.

As a rule of thumb:
- If you have a JSON object in memory, the sync API is perfectly fine since the object is already in memory and transforming it into a stream is just extra

[2018-09-20 01:11] erick2014 commented on #324
hey @juanjoDiaz  thx for this explanation I really appreciate it

[2018-09-20 06:13] juanjoDiaz commented on #324
No problem. Closing this. Feel free to come back if anything else comes up.

[2018-09-20 06:13] #324 closed

[2018-09-21 16:46] chriszrc commented on #138
It looks like this situation has improved greatly with the latest version (4.2.1). Install that, add the @types package:

[code]

Then import as you'd expect:

[code]

[2018-09-25 11:02] shrikantpottygupshup opened #329 "Headers are getting alphabetically sorted"
I am using json2csv version 4.2.1. So my fields are getting alphabetically sorted which is good to have, but unfortunately I don't need it. Can you let me know if we can stop this sorting.

[2018-09-25 11:34] juanjoDiaz commented on #329
Not sure of what you mean. Using shorthands property doesn't re-order keys. It might be something else that you are doing or some transpilation going on...

You can test it easily.
[code]

But great that you solved your issue, I'll close this. Feel free to reopen if you need something else.

[2018-09-25 11:34] #329 closed

[2018-09-25 11:39] shrikantpottygupshup commented on #329
Sure thing. Thanks!

[2018-10-04 17:31] saclarky commented on #172
Hi - I'm not sure what this means I just searched the issues because I can't find 3.7.4 in npm package manager. Am I supposed to be using 3.7.3 then? I have a shrinkwrapped package.json file calling for 3.7.4 and npm install is now failing. Thanks for any help!

[2018-10-04 18:03] juanjoDiaz commented on #172
Hi @saclarky,

As it was commented before, I'd suggest that you update your dependency.
Version 4.X has plenty of benefits and it's a pretty minimal change to migrate (https://github.com/zemirco/json2csv#migrating-from-3x-to-4x)

[2018-10-07 14:43] erann1987 commented on #182
It's work, but:
after saving it and reopen on excel its messed up

[2018-10-07 14:45] erann1987 commented on #254
Hi, I'm having the same problem.
I used withBOM: true.
When I opened it with Excel it looks fine, BUT after saving it and reopen on excel it's all messed up.

[2018-10-07 14:50] juanjoDiaz commented on #182
You can read the full discussion as we all here can. So you should be able to see what the accepted solution was and why it is close. 🙂

It seems that you are having some issues and want some help. I'm happy to help!
Can you elaborate a bit on your issue? So, the CSV is generated correctly but after you open it and reclose it using Excell it breaks?

Can you attach a code example to reproduce your

[2018-10-07 15:02] erann1987 commented on #182
The command:
![image](https://user-images.githubusercontent.com/23011249/46583109-392e4080-ca5a-11e8-996b-cdf103bc3c93.png)

Open the file at the first time with Excel :
![image](https://user-images.githubusercontent.com/23011249/46583160-de491900-ca5a-11e8-8eee-f66fd948326d.png)

Saving it, close it, and reopen it with Excel:
![image](https://user-images.githubusercontent.com/23011249/46583174-19

[2018-10-07 15:17] juanjoDiaz commented on #182
I can't replicate it if I don't know what's in data or fields.

In any case, your problem is that Excel simply saves CSV in ANSI and not UTF-8.
Just google `excel save csv utf-8` and you'll find plenty of information.
You can see some workarounds here: https://www.webtoffee.com/how-to-save-csv-excel-file-as-utf-8-encoded/
So, the problem is in Excel and not in json2csv. Not much that we can do.
If

[2018-10-16 12:20] dharmax opened #330 "Transform should accept streams of Objects, not just strings"
**A Little Feature request**

i expected it to work out of the box, but apparently i had to stringify my JSON objects, because otherwise Transform threw an exception stating it accepts either strings or buffers. This feature is useful when streaming from database queries (in my case, it was using the streaming capabilities of the mongodb driver), etc.

1. Include the version of json2csv used: **4.

[2018-10-16 15:50] juanjoDiaz commented on #330
Node.js streams work either on strings/buffers mode or in object mode.
Have you read about `object mode` in the documentation?
I think that that's what you want.

If you want something else. Can you elaborate a bit? And possibly provide a code sample showing what you would like?

[2018-11-01 14:42] brpereyra commented on #51
i am use  doubleQuote: '' set this option empty

[2018-11-02 22:57] willbattel opened #332 "Appending data to existing CSV file"
Hi there.

I'm trying to use `json2csv` in my JavaScript codebase (Node 8). I have an existing CSV file that I want to append more data to. The data exists only in memory (no JSON file) so I opted for `Parser` rather than `Transform`. The schema doesn't change, I just need to add more rows to the file from data in memory.

I found the existing issue, #130, but this was closed without resolution an

[2018-11-03 10:40] juanjoDiaz commented on #332
Are you looking for https://nodejs.org/api/fs.html#fs_fs_appendfile_path_data_options_callback??

So:

[code]

[2018-11-03 18:20] willbattel commented on #332
@juanjoDiaz do you know whether or not `fs.appendFile` will correctly append CSV files? Will it insert a comma at the end of the first file before appending the second? I couldn't find any indication and am away from my computer at the moment.

[2018-11-04 09:16] juanjoDiaz commented on #332
Hi Will,

`fs.appendFile` simply append text to a text file.
I don't know why do you need a come there. Can you clarify?

If you want a coma between each addition you can simply do:
[code]

However, Json2Csv will always produce valid csv i.e. a bunch of lines with comma-separated items.
It will never end lines in a comma (unless the last item is empty).
It will never give you a half-line.
So you s

[2018-11-04 18:56] willbattel commented on #332
@juanjoDiaz Ah, I see. My use case requires a comma at the end of each line. It didn't cross my mind that that wasn't typical. My CSV file has to look like this:

[code]

so if I want to add

[code]

I would need to add a comma after `stringB3`

[2018-11-04 20:56] juanjoDiaz commented on #332
That's not really valid CSV since the last row has a different number of columns than the rest.
But you know your need better than I do 🙂

`eol` won't help you here since it will include the `,` after every line including the last one.

Your only option is to use post-processing:
[code]

But really, I'd reconsider whatever you are trying to do 🙂

I'll close this since it has nothing to do with jso

[2018-11-04 20:56] #332 closed

[2018-11-04 21:10] willbattel commented on #332
@juanjoDiaz I am generating the CSV to use in Google's AutoML Vision machine learning service. Their examples had each line suffixed with a comma, but I just tried it without them and it works fine. I guess I don't need them. Thanks for the help!

[2018-11-05 05:52] nguyentiennghiep opened #333 "Export data from mongoDb to csv using 'unwide' options fails"
Hi guys , i have a collection from mongDB like that , when i add options 'unwind ' always fails .. error in the image below . Can u guys help me ?thank you very much.
[code]

my export func
[code]
I recevice this error
[code]

[2018-11-05 07:42] juanjoDiaz commented on #333
Hi @nguyentiennghiep ,

Quick googling tells me that the error is produced by lodash (https://github.com/Automattic/mongoose/issues/6507).

Unfortunately, Lodash is no maintaining it's individuals package up to date. I created an issue in their repo for that. If they don't respond, I'll remove our lodash dependency to resolve this.

Could you provide some data that I can put in Mongo to test your

[2018-11-05 07:57] nguyentiennghiep commented on #333
@juanjoDiaz  Thanks for your help . this is one document in my `book` collection
[code]

**This is the full schema**
[code]
**Full my export code**
[code]

[2018-11-05 08:01] nguyentiennghiep commented on #333
@juanjoDiaz  sr for long question . but when i change `unwind:'bookTitle.targetRoles'` to `unwind:'books'` to get books unwind data , dont get `bookTitle.targetRoles` anymore . the error is gone but output csv data look like this
<img width="710" alt="123444" src="https://user-images.githubusercontent.com/39815560/47985219-4d7a6180-e11c-11e8-9fb8-89c849eb80f8.png">
i dont set unwind_blank options

[2018-11-05 09:13] nguyentiennghiep commented on #333
@juanjoDiaz  i don't know why but when i change code from `csv = json2csvParser.parse(data);` to `csv = json2csvParser.parse(JSON.parse(JSON.stringify(data)));` it work :D

[2018-11-05 18:36] juanjoDiaz commented on #333
Yes.
The problem is that `lodash.deepClone` try to clone Mongo's internal classes wrongly.
`JSON.parse(JSON.stringify(...))` removes custom classes and normalize everything to plain JSON so it solves the problem.

`lodash` maintainer had close my issue without resolving it so, for now, you have to use that workaround. In the future, I might get rid of lodash completely to avoid this kind of issue.

[2018-11-12 06:35] ohoroyoi commented on #182
@erann1987 thanks! it works for me

[2018-11-12 06:55] ohoroyoi opened #334 "returns as unwanted date format."
json2csv version 4.3.0

![date_format](https://user-images.githubusercontent.com/41815567/48331341-2fb87980-e693-11e8-958d-72d2a024fade.png)

my db is mysql now. I'd like it returned only to the year and date. But it returns timezone by default.

[2018-11-12 07:19] juanjoDiaz commented on #334
I'm not sure how the data is retrieved from MySQL and passed to json2csv but it seems to me like it's a date. In Javascript there is no separate time and date. so the date is serialized in the standard JSON format.

You could preprocess each row to stringify each row in whatever format you want.
Or use the `fields` option for that.

Does this help?

[2018-11-15 20:28] clalcorn opened #335 "Similar to #104, Fields are missing on output in default mode"
Similar to previously reported #104 , There are fields missing in complex arrays. For example:

`C:\Users\Glyph>json2csv -V
4.2.1`
`C:\Users\Glyph>echo [{"a":1,"b":2}, {"a":3,"b":4},{"c":5}] | json2csv
"a","b"
1,2
3,4
,`

Expected Behavior is:
`C:\Users\Glyph>echo [{"a":1,"b":2}, {"a":3,"b":4},{"c":5}] | json2csv
"a","b","c"
1,2,
3,4,
,,5`

[2018-11-15 20:47] knownasilya commented on #335
How do you feel about submitting a failing test to show this doesn't work?

[2018-11-15 20:50] clalcorn commented on #335
Sure, you might need to help me, I am not sure how to do that.

[2018-11-15 20:55] knownasilya commented on #335
You can start here https://github.com/zemirco/json2csv/blob/master/test/JSON2CSVParser.js#L7 and create a test and fixture data based on your setup. Submit a pull request if you are stuck and I can guide you further.

[2018-11-15 21:01] clalcorn commented on #335
So, I'm am self admittedly the worst noob here. So I am totally lost as to what to do with that link. I'll try around here a bit more. But I think it is pretty obvious if you run the above command, you will see the first output. If you downgrade to 3.6.1 or even 4.1.1, the output is what is listed in the expected behavior.

But I will try and see if I can sort out the test.

[2018-11-15 21:10] knownasilya commented on #335
It's alright if things aren't coming together, feel free to ask questions 😃

[2018-11-15 21:10] juanjoDiaz commented on #335
Hei,

Nothing to be fixed. That's the expected behaviour. 😄

json2csv CLI process the elements one at a time (to keep memory footprint low and performance high), so if you don't pass the `fields` option it assumes the keys in the first item as the keys to process.

As an alternative, you can load the entire JSON object in memory using the `--no-streaming` flag, which reads all the keys from all th

[2018-11-15 21:12] knownasilya commented on #335
@juanjoDiaz I wasn't aware that was a change that was made, seems like a note in the README about that might be helpful for future users.

[2018-11-15 22:03] clalcorn commented on #335
@juanjoDiaz @knownasilya Thanks to both of you. Makes sense. I did try the --no-streaming previously and gave up because it had been running for about an hour :) We are working with some seriously huge json files. I tried it just now with a smaller file and found what you mentioned. So thanks!

For us then we will just have to work with a config file in and try to prepopulate the fields. For refer

[2018-11-17 20:58] #335 closed

[2018-11-18 18:36] juanjoDiaz commented on #330
Closing since I think that this is resolved. Feel free to re-open if you feel that something is still missing.

[2018-11-18 18:36] #330 closed

[2018-11-19 12:55] #333 closed

[2018-12-08 01:06] guillaumegarcia13 opened #340 "Performance issue between .parse and CLI"
**Version json2csv**: 4.2.1
**Node version**: 8.12 (Win10)

I am experimenting huge gap of performance when using .parse
[code]

instead of command line.
[code]

We are talking orders of magnitude here (**250x slower**)

Any reason for this behaviour?

[2018-12-08 03:58] knownasilya commented on #340
By default the CLI uses the streaming api (https://github.com/zemirco/json2csv/blob/master/bin/json2csv.js#L180).

You can use that too, see http://www.mircozeiss.com/json2csv/#json2csv-transform-(streaming-api)

[2018-12-11 10:01] kamesh95 opened #341 "Failure on writing large amount of data to csv even though using streams"
I am using json2csv Transform with Streams but it still fails to export large amount of data due to Heap out of memory issue. My database table contains around 3 million records which I am trying to write into an excel. Any help would be much appreciated. Below is the piece of code and a screenshot of the error.

1. Include the version of json2csv used - **4.3.2**
2. Include your node version/brow

[2018-12-11 11:02] juanjoDiaz commented on #341
Hi @kamesh95 ,

It looks like you are keeping the data in memory instead of processing it as a stream.
A stream should be memory bound. I tried a quick example and run in milliseconds with no problems:
[code]

so maybe the memory leak is somewhere else? It would help to get the stack trace of the error to see where it points within json2csv.

One thing that caught my attention is that you save the

[2018-12-11 12:30] kamesh95 commented on #341
Hi @juanjoDiaz, Thanks for your quick reaction. I already tried piping it to the response directly but I faced the same error. The data that I have is a bit more complicated. My table has nvarchar(MAX) columns as well. Here's an example JSON object -
[code]
I am not storing the data anywhere though, I just get the streamed data from the db query which I pipe-in to the json2csv module and then furt

[2018-12-11 13:33] juanjoDiaz commented on #341
That's odd...

I just tried replacing my simple JSON by
[code]

but still works flawlessly to generate a 700Mbs file in few ms...
I even tried with twice that object and no problem...

Your error seems to point at `C:\Users\wkafeiojf2j09j\Desktop\SOFY\server\base\log\logger.js:~123` so I'd look at that code path. And when and how is that code being called, especially if there is any recursion or a

[2018-12-11 14:11] kamesh95 commented on #341
That logger did indeed create some issues. Nice catch! I commented out the logs for a while and it worked but after retrying I got out of memory again and this time the trace points out to my tedious module for mssql. I will dig into this further solving the issues it has been pointing to. So no problems with json2csv, it works flawlessly. Thanks for your kind help. Much appreciated :+1: You can c

[2018-12-11 14:49] juanjoDiaz commented on #341
Glad to have helped some!

Don't hesitate to reopen or open a new issue if you find anything else!

[2018-12-11 14:49] #341 closed

[2018-12-12 05:58] nguyentiennghiep opened #342 "Using option `eol` ... received string \r\n"
i try to use options `eol` to Specify an End-of-Line to `CRLF` like
``` csv = json2csv(json2csvData, { fields, unwind: ['books'], eol: '\\r\\n' });```

i don't know what is the true way to use this options .... use `'\r\n'` or use `'\\r\\n'`

[2018-12-12 07:11] juanjoDiaz commented on #342
Just try both and see with which one you get the result that you want 😄

`'\r\n'` is what you most likely want.

It seems that you are using a 3.X version of the library. I'd recommend that you switch to the newer 4.X version so you benefit from recent bugfixes and performance improvements.

I'll close this. Feel free to reopen if there is something else that you feel hasn't been unanswered or tha

[2018-12-12 07:11] #342 closed

[2018-12-12 07:30] nguyentiennghiep commented on #342
thanks you very much 👍

[2018-12-18 21:52] kdelalic opened #343 "Fields and unwind not working with transform in object mode"
Version: 4.3.2

Parsing it using the sync method works properly but when I use the following code, only the top level fields get matched such as `name` but not `table.name`. Is this because unwind isn't working?

[code]

[2018-12-19 07:52] juanjoDiaz commented on #343
Can you provide some example `data` and `opts` so I can replicate the issue?

Unwind shouldn't process `table.name` unless you explicitly set it as `unwind: ['name', 'table.name']`

[2018-12-20 09:08] juanjoDiaz commented on #343
I did this little example where I got the exact same results from `parse` and `Transform`:

[code]

Am I missing something?

[2018-12-20 17:58] jacobq commented on #296
I have seen this before also, usually associated with the term "column-oriented" / "orientation = column". It's a pain in my opinion because it doesn't lend itself nicely to streaming, and it also isn't RFC4180 compliant, if I understand the spec properly. Perhaps it is preferred for human-readability reasons when the number of records is much smaller than the number of fields?

[2018-12-20 18:17] jacobq opened #344 "[feature request] Column name customization / mapping"
This isn't a big deal since I can achieve the same result by suppressing the header field from the output and writing it myself, it would be nice if there were a configuration option to map a custom name to a given field, e.g.

[code]

At the same time it might be worth thinking about allow other types of field/column configuration options, such as those mentioned in https://github.com/zemirco/jso

[2018-12-20 18:19] jacobq commented on #344
Ha, just noticed this is already happening in v3.x
https://github.com/zemirco/json2csv/blob/v3.11.5/README.md#example-fields-option
https://github.com/zemirco/json2csv/pull/338

[2018-12-20 18:20] jacobq commented on #344
Maybe this really just means the examples should be updated to demonstrate this capability as I did not see it until just now :)

[2018-12-20 18:20] #344 closed

[2018-12-20 18:39] jacobq commented on #320
I am facing the same challenge and would love it if someone were willing to work on this.

Basically I want to tell `json2csv` in an option somewhere that a field `a` should be treated as an "array column" of a given/fixed/max size, say 128 elements. Then that field should be "exploded"/"split"/"multiplied" into 128 fields: `a:0`, `a:1`, ...., `a:127`

[2018-12-20 18:46] jacobq opened #345 "Why `preferGlobal`?"
There is both a programmatic API and a command-line API. I think the `preferGlobal` option really only makes sense when there is nothing to `require` / `import` / use in another program. (See also [this comment](https://github.com/beautify-web/js-beautify/pull/820#issue-52197185).)

Do we still need / want this or is it just old left-overs?
https://github.com/zemirco/json2csv/blob/1d6e18d0e2eec648

[2018-12-20 18:55] juanjoDiaz commented on #344
Example 3 in the documentation shows it:
http://www.mircozeiss.com/json2csv/#example-3
https://github.com/zemirco/json2csv#example-3

How would you like to see it in the docs?

[2018-12-20 18:59] juanjoDiaz commented on #345
Probably legacy.

It's also wrong because it should be a boolean and not a string.

It makes sense to install globally when using json2csv as a CLI tool, and as a local dependency when using it in your code.

I'll remove it!

[2018-12-20 19:12] jacobq commented on #344
The example is OK, but in my opinion there are two major opportunities for improvement:

1. The readme is like 700 lines long and feels cluttered / unorganized. Splitting CLI & programmatic usage into separate files may help. Using `<details>`/`<summary>` (collapsibles) may help. Using a "table of contents" with links may help ([example](https://github.com/jprichardson/node-fs-extra#methods)). I d

[2018-12-20 19:37] juanjoDiaz commented on #320
@jacobq

Is it correct that from:
[code]

you'd like to get:
[code]
???

How would you deal with different elements having arrays of different length?
If you set a max lenght as you suggest, what would you do with arrays larger than that?

**As of today:**
You can achieve that using the `fields` option. Although, I admit that it might be a bit verbose.
[code]
You can achieve it with some preproces

[2018-12-20 19:45] jacobq commented on #320
That's close. Thanks for mentioning the work-around; I didn't realize I could use `[...]` in path specifications (and I haven't tried using `flatten` yet). I'm working on a fork / PR right now to do it more ergonomically / the way I want to.

The CSV format itself is restricted to a fixed number of columns/fields so it would be up to the user of `json2csv` to specify an appropriate size for the ex

[2018-12-20 19:49] #345 closed

[2018-12-20 19:50] knownasilya commented on #344
The docs are also deployed as a website with a TOC: http://www.mircozeiss.com/json2csv/

[2018-12-20 19:57] jacobq commented on #320
I think it's a little trickier than your example shows too because I need support for nesting & unwinding.

## Input
[code]

## Desired output

[code]

[2019-01-11 17:20] brunofprusch commented on #270
Thanks, I had problem using Parse, changed to use Transform and solved.

[2019-01-16 08:50] marxsk opened #348 "Regression: ordering of fields in the output CSV"
Let assume the simple code

`const json2csvParser = new Json2csvParser({
      ['first', 'second', 'third'],
      delimiter: "\t",
      header: true
    });`

Previously (4.2.1) the ordering of the output fields respects the ordering of the 'fields'. Currently (4.3.0+) it does not.

[2019-01-16 09:19] juanjoDiaz commented on #348
Thanks for reporting!
Will looks into this asap!

Can you provide a full working example including the data to replicate the issue?

[2019-01-16 16:20] marxsk commented on #348
@juanjoDiaz thanks.

So, I have done a bit more debugging. The problem is that my first argument is ignored, it is enough to add { fields = [ ... ] }. As the old method is no longer in any documentation. I'm closing this bug.

[2019-01-16 16:20] #348 closed

[2019-01-16 17:55] juanjoDiaz commented on #348
oh yeah! You were missing the field name: `const json2csvParser = new Json2csvParser({ fields: ['first', 'second', 'third'], delimiter: "\t", header: true });`

Without it is not even valid JSON. I'm surprised it was working at all. 😄

[2019-01-22 16:00] ShadabFaiz opened #349 "Creating multiple CSV"
This is more of a question rather than issue. Is it possible to create multiple csv file while using stream api?
For Example: I i have 200M rows and i want to divide the data into multiple csv each containing 50M rows or so, using stream. Is it possible?

[2019-01-22 16:36] knownasilya commented on #349
Not on the side of json2csv. I'd attack this from the source, so if using a database connection, streaming only half the data, and the other half for a second file. Basically paginating the data into two sets.

[2019-01-22 17:01] dgraceffa commented on #324
Hi @juanjoDiaz,
i got the same issue as @erick2014. The only event i can listen to is 'line', but i need to add some code after the 'end' event. I tried the events  'finish' and 'close' too, but they don't seem to work. Can you help me?
Here is the test code:
[code]

[2019-01-22 17:47] juanjoDiaz commented on #324
Hi @dgraceffa,

Thanks for the code example.
That's because you are not closing the readable stream. You close a stream but passing `null`.
Also, writable streams don't use `end`, they use `finish`.

So the correct snippet is:
[code]

[2019-01-22 17:52] juanjoDiaz commented on #349
I'd also go with the solution proposed by @knownasilya.

An alternative would be to use the `on('line', line => { ... })` callback and keep a counter yourself.

[2019-01-23 08:20] dgraceffa commented on #324
Hi @juanjoDiaz ,
i added that input.push(null) and now it works,
really appreciated your reply, Thank you !

[2019-01-24 10:41] ShadabFaiz commented on #349
Thanks for the suggestions.

[2019-01-24 10:41] #349 closed

[2019-01-25 03:16] christopher-howard opened #350 "Unwind and flatten pushing cell data to lower rows"
**Description:** Using unwind and flatten creates empty cells by pushing cell data down into rows below. How can I achieve the desired output?
**json2csv Version:** 4.3.3
**Node Version:** 10.14.1
**Browser Vendor:** Google Chrome
**Browser Version:** 71.0.3578.98 (Official Build) (64-bit)

**Expected/Desired Output:**
![image](https://user-images.githubusercontent.com/23305394/51722709-0ad47f80-2

[2019-01-28 10:10] christopher-howard commented on #350
@juanjoDiaz

Many thanks, that'll do the trick.

[2019-01-28 11:04] #350 closed

[2019-01-29 17:06] philippefutureboy commented on #182
Hi!

I'd like to reopen this issue for cases like using CSV to load into MySQL databases. The automatic conversion of UTF8 character by json2csv can cause ER_DATA_TOO_LONG in certain cases where the value in the field is already maxed out. The current solution is to post-process the csv, really reducing the performance.

Is there a way we can have a `charset` or `enableUnicode` option?

Thanks!

[2019-01-29 17:16] knownasilya commented on #182
Please open a new issue with your use-case and suggestions 👍

[2019-01-29 17:24] juanjoDiaz commented on #182
Should be simple to add such a feature. Please, as @knownasilya suggested, create a new issue and please add a small test set so I can test that I actually get what you are looking for.

[2019-01-29 19:02] philippefutureboy opened #351 "Full support for UTF charsets"
**json2cv version:** 4.3.3
**node version:** 8.11.1
**Bug or feature:** Bug

**Sample code:**

[code]

**Expected output:**

[code]

**Current output:**

[code]

As you can notice, some characters are converted back to unicode notation while some are not. This causes issues when it comes to using the CSV as a source to load in a database, as it changes the length of the string.

Is there a way to

[2019-01-29 19:03] philippefutureboy commented on #182
Done! Opened a new issue #351 :)

[2019-01-29 22:18] philippefutureboy commented on #351
Hi @juanjoDiaz :)

Likewise, thanks for the explanation!

To answer your question, the character is encoded in a string returned over an ODBC connection with a legacy database. Based on the surrounding letters, the `\u001a` seems to be in place of the `é` character, even though in other places the same character comes out fine. The said ODBC connection uses a UTF8 charset, and so does the source d